body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
   background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
.show {
    visibility: visible !important;
}
video {
    visibility: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.animation_logo{
    position: relative;
    height: 100%;
}

/* scroll bar
============================================ */

::-webkit-scrollbar {
    background: #ddd;
    width: 14px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #00000070;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, #3498db, #34495e);
    border-radius: 10px;
}

/*
    font-family: 'Roboto', sans-serif; ru 300i, 400, 500, 700, 900
    font-family: 'Varela Round', sans-serif; 400 en
============================================ */

header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/first-fon.jpg) center no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
    z-index: 3;
}
@keyframes anim {
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* modal window
=====================*/

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none
}
.containerModal {
    margin: 25vh auto;
    width: 800px;
    box-sizing: border-box;
    display: block;
    position: relative;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
    padding: 15px;

}
.containerModal .closeModal {
    position: absolute;
    right: 15px;
    top: 25px;
    font-size: 20px;
    color: #b9b8b8;
    transition: all .2s linear
}
.closeModal:hover {
    color: #000
}
.modalContent{
    display: none;
}
.modal_content {
    color: #333;
    font-size: 18px;
    padding: 20px;
    text-align: left;
}
.my_box .showModal {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #333;
    font-size: 17px;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    background: transparent;
}
.my_box:hover .showModal {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.my_box .showModal:hover {
    color: #000;
    background: #fff;
}

/* header
=====================*/

header {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}
#header_top.fixed {
    position: fixed;
    background: #333;
    border-bottom: none;
    height: 60px;
}
#header_top.fixed .header_container{
    min-height: 60px;
}
#header_top.fixed .nav_link{
    height: 40px;
    line-height: 40px;
}
#header_top.fixed .text {
    font-size: 20px;
}
.header_top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #fff;
}
.header_container {
    display: flex;
    justify-content: flex-end;
    ;
    align-items: center;
    min-height: 80px;
    position: relative;
    z-index: 2;
}
.middle {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 40px;
    display: flex;
    justify-content: flex-start;
}
.text {
    color: #fff;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    cursor: pointer;
}
.hidden {
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
}
.text:hover .hidden {
    opacity: 1;
    max-width: 1em;
}
.blue {
    color: #1779ff;
}

/* menu
=====================*/

.nav_bar {
    float: right;
    z-index: 10;
}
.ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav_link {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.2s linear;
}
.sub-menu {
    position: absolute;
    padding: 0;
    display: none;
    width: 200px;
}
.hover-works {
    position: relative;
}
.padding-right {
    padding-right: 35px !important;
}
.down {
    position: absolute;
    right: 15px;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
}
.hover-works:hover .sub-menu {
    display: block;
    background: #333;
}
.hover-works:hover{
    background: #333;
}
.works-a {
    display: block;
    left: 0;
}
.nav_link:hover,
.nav_link.active {
    color: #fff;
    background: #2196f3;
    transition: all 0.2s linear;
}
.nav_bar.active .nav_toggle:after {
    width: 28px;
    top: -5px;
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}
.header_container.active{
    background: #333;
}
.header_container {
    transition: all 0.4s linear;
}
.nav_toggle {
    font-size: 0px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    margin: 12px 0;
    position: relative;
}

.nav_toggle:after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -10px;
    transition: all 0.2s linear;
}
.nav_toggle:before {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 10px;
    transition: all 0.2s linear;
}
.menu-toggle:hover .nav_toggle:after {
    width: 28px;
}
.menu-toggle:hover .nav_toggle:before {
    width: 28px;
}
.menu-toggle {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 28px;
    height: 24px;
    display: none;
}

/* social
=====================*/

.social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.sm-container {
    text-align: center;
}
.sm-container i {
    color: #f5f6fa;
    padding: 20px;
    color: #1779ff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.sm-container i:hover {
    transform: scale(1.4);
}
.sm-menu {
    background: #fff;
    position: absolute;
    border-radius: 8px;
    display: none;
}
.sm-menu::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #487eb0;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/* header_bottom
=====================*/

.header_bottom {
    position: relative;
    height: 100vh;
}
section {
    height: auto;
}
section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.2em;
}
.wrapper_video {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
}
.smokk {
    display: inline-block;
    animation: animate 1s linear forwards;
    opacity: 0;
} 
.show {
    visibility: visible !important;
}
video {
    visibility: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.subtitle {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.2em;
}
.sb{
    position: relative;
}
.sb:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.865em;
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    -webkit-background-clip: text;
    opacity: 0.5;
    color: transparent;
}

/* btn-animate
=====================*/

.btn-animet {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0);
    color: #1670f0;
    font-size: 24px;
    padding: 30px 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    border: none;
}
.btn-animet,
.btn-animet:focus,
.btn-animet:hover {
    outline: none;
}
.btn-animet:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}
.btn-animet .anim:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.btn-animet .anim:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.btn-animet .anim:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.btn-animet .anim:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* postcards
=====================*/

.post {
    padding-top: 60px;
    position: relative;
}
.post_title {
    font-size: 36px;
    position: relative;
    color: #eee;
    margin: 0 30px;
    overflow: hidden;
}
.post_title:after {
    content: '';
    display: block;
    width: 650px;
    ;
    height: 3px;
    position: absolute;
    left: 500px;
    top: 50%;
    transform: translateY(-50%);
    background: #3949ab;
}

.subtitle_me {
    margin-left: 75px;
    position: relative;
    color: #eee;
    margin-right: 30px;
}

.subtitle_me:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #3949ab;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.subtitle_me:hover:before {
    left: 45px;
}
.postcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.postcards_block {
    position: relative;
    margin: 20px 0;
    width: 250px;
    height: 340px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
    background: #fff;
}
.postcards_block:hover {
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.postcards_block:hover .imgBox {
    transform: rotateY(-135deg);
}
.imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    box-sizing: border-box;
    padding: 20px 40px;
}
.title_cards {
    font-size: 24px;
    position: relative;
}
.java:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #2196f3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.java:hover:after {
    transform: rotate(90deg);
}
.css:hover:after {
    transform: rotate(90deg);
}
.html:hover:after {
    transform: rotate(90deg);
}
.css:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #2196f3;
    position: absolute;
    right: 10px;
    bottom: 15%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.html:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #2196f3;
    position: absolute;
    right: 30px;
    bottom: 15%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.details p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

/* my_skills
=====================*/

.my_skills {
    list-style: none;
    width: 100%;
    padding: 30px 0;
    margin-top: 50px;
}
.skills {
    width: 500px;
    color: #fff;
    margin: 0 auto;
    opacity: 1;
}
.title_skills {
    color: #fff;
    font-size: 24px;
}
.skills_list {
    margin: 20px 0;
    position: relative;
}
.skills_bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
    z-index: -1;
}
.span_skill {
    position: absolute;
    height: 2px;
    float: left;
    background: #2187e7;
    bottom: 0;
}
.skills_html {
    width: 80%;
    animation: skills_html 2s;
    z-index: 1;
    animation-play-state: paused;
}
.skills_css {
    width: 90%;
    animation: skills_css 2s;
    animation-play-state: paused;
}

.skills_jquery {
    width: 50%;
    animation: skills_jquery 2s;
    animation-play-state: paused;
}

.skills_java {
    width: 60%;
    animation: skills_java 2s;
    animation-play-state: paused;
}
.skills_java.act {
    animation-play-state: running;
}
.skills_css.act{
    animation-play-state: running;
}
.skills_html.act {
    animation-play-state: running;
}
.skills_jquery.act {
    animation-play-state: running;
}
@keyframes skills_html {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes skills_css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes skills_jquery {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes skills_java {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

/* sevices
=====================*/

.services-section {
    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.serv_title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.border {
    width: 100px;
    height: 2px;
    background: #3949ab;
    margin: 40px auto;
}
.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}
.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #3949ab;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}
.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}
.service-box:hover .service-icon {
    background: #3949ab;
    color: #ddd;
}
.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.service-desc {
    font-size: 14px;
}

/* my_works
=====================*/

.my_works {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    background: url(../img/header.png)center no-repeat;
    background-size: cover;
    z-index: 1;
}
.bg_work {
    z-index: 2;
    position: relative;
}
.my_works:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #262626;
    opacity: 0.8;
    z-index: -1;
}
.works_container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.works_container__box {
    display: block;
    background-size: contain;
    width: 550px;
    min-width: 550px;
    height: 200px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
}
.works_container__box a img{
    width: 100%;
}
.works_container__title {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    padding: 15px 20px;
    left: 0px;
    transform: translateY(50px);
    transition: all 0.2s linear;
    opacity: 0;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.works_container__box:hover .works_container__title {
    transform: translateY(-0px);
    opacity: 1;
}
.works_container__title a{
    cursor: pointer;
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: none;
}
.works_container__box a {
    text-decoration: none;
}

/* my_blocks
=====================*/

.qualities {
    padding: 60px 0;
}
.serv_border {
    margin-top: 20px;
    z-index: 10;
}
.my_blocks {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    flex-wrap: wrap;
}
.my_box:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}
.my_box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}
.my_box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.my_box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}
.my_box:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}
.my_box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
.modal_header {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}
.header-red {
    color: #ff0057;
}
.header-blue {
    color: #00bcd4;
}
.header-purple {
    color: #5d02ff;
}
.header-yellow {
    color:  #ffc107;
}
.my_box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    max-width: 280px;
    margin:  15px;
}
.content {
    position: relative;
    padding: 20px;
    z-index: 999;
    text-align: left;
    transform: translateY(40px);
}
h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}
.my_box:hover h2 {
    top: -140px;
}
.my_box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.my_box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

/* accardeon
=====================*/
.accardeon_blocks {
    margin-top: 50px;
    position: relative;
}
.accardeon_blocks.show {
    min-height: 150px;
}
.accardeon_text {
    margin-bottom: 40px;
}
.minus {
    opacity: 0;
}
.full_block.show .minus {
    opacity: 1;
}

.full_block.show .plus {
    opacity: 0;
}
.accardeon_header {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 500;
    padding: 12px 0 12px 90px;
    position: relative;
    font-size: 20px;
    background: #f7f7f7;
    color: #ff2251;
    position: relative;
}
.right-icon {
    position: absolute;
    right: 20px;
}
.icon {
    position: absolute;
    left: 35px;
}
.full_block .accardeon_content {
    background:#f7f7f7;
    padding:20px 90px;
    display: none;
}
.full_block.show .accardeon_content {
    display: block;
}
.full_block {
    margin-bottom: 10px;
    transition: opacity 0.2s linear;
}
.accardeon_header.head-1 {
    color: #ff0057;
}
.accardeon_header.head-2 {
    color: #00bcd4;
}
.accardeon_header.head-3 {
    color: #5d02ff;
}
.accardeon_header.head-4 {
    color: #ffc107;
}

/* slider
=====================*/

.swiper-container {
    width: 100%;
    padding: 60px 0 110px;
    position: relative;
    z-index: 2;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: #fff;
}
.imgBx {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.imgBx img {
    width: 100%;
}
.details_slider {
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
}
.slider_h5 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.slider_span {
    font-size: 16px;
    color: #f44336;
}
.swiper-pagination {
    padding-bottom: 50px;
}

/* footer
=====================*/

.my_footer {
    padding-bottom: 60px;
}
.form {
    position: relative;
}
.footer_border {
    background: #3949ab;
    margin: 20px auto;
}
footer {
    padding-top: 50px;
    padding-bottom: 35px;
    color: #fff;
    background: url(../img/footer.png) center no-repeat;
    background-size: cover;
    text-align: center;
    text-align: center;
    min-height: 100vh;
    position: relative;
}
.title_contact {
    padding-bottom: 20px;
}
.about__title {
    font-size: 30px;
    line-height: 1.5;
}
.about__text {
    font-size: 20px;
}
.my_contacts_block {
    display: block;
    min-width: 300px;
}
.my_contacts {
    display: flex;
    justify-content: space-around;
}
.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
    font-size: 52px;
    color: #fff;
}
.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3949ab;
    width: 100px;
    height: 100px;
    margin: 0 auto 35px;
}
.circle+p {
    font-size: 20px;
}
footer input,
footer textarea {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.my_contacts{
    margin-bottom: 40px;
}
.input_name,
.input_email {
    width: 49%;
}
.input_name {
    margin-right: auto;
}
.input_email {
    margin-left: auto;
}
.my_message {
    width: 100%;
}
footer input:focus,
footer textarea:focus {
    outline: none;
}
footer textarea {
    margin-top: 30px;
    margin-bottom: 100px;
    resize: none;
}
.my_btn {
    font-size: 20px;
    text-transform: uppercase;
    color: #212121;
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.my_btn:hover {
    opacity: 0.6;
}
.bottom_line {
    background: #fff;
    color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}