@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Light"), local("Helvetica-Neue-Light"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.header .wrapper-container {
  max-width: 1000px;
  margin: 0 auto;
  display: block; }

.header__top {
  background: #000;
  min-height: 70px; }
  .header__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; }
  .header__top-callback {
    display: flex;
    align-items: center; }
    .header__top-callback-lang {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 15px; }
      .header__top-callback-lang a {
        color: #c2c2c2;
        font-size: 11px;
        text-transform: uppercase;
        padding: 7px 0;
        border-bottom: 1px solid #c2c2c2;
        transition: all 0.2s linear; }
      .header__top-callback-lang a:hover {
        color: #fff;
        font-weight: 500; }
      .header__top-callback-lang a:last-child {
        border-bottom: none; }

.header__container {
  background: url(../img/header-bg.png) center no-repeat;
  padding-top: 80px;
  padding-bottom: 80px; }
  .header__container-suptitle {
    color: #000;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px; }
  .header__container-title {
    color: #f0bd7f;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 40px; }
  .header__container-video {
    display: block;
    height: 550px; }

.header .wrapper-header {
  max-width: 1580px;
  margin: 0 auto;
  display: block; }

.header__boxed-top {
  background: #f7f3ed;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 45px; }
  .header__boxed-top-title {
    font-size: 66px;
    line-height: 51px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  .header__boxed-top-subtitle {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px; }
  .header__boxed-top img {
    display: block;
    margin: auto; }

.header__boxed-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px; }

nav {
  margin-right: 115px; }
  nav .navigation {
    display: flex;
    align-items: center; }
    nav .navigation-item {
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase; }
      nav .navigation-item a {
        display: block;
        padding: 5px 20px;
        transition: all 0.2s linear; }
        nav .navigation-item a:hover {
          color: #f0bd7f; }

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center; }

.burger-menu {
  display: none;
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear; }
  .burger-menu span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    margin-top: 13px;
    transition: all 0.2s linear; }
  .burger-menu:after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    top: 3px;
    background: #fff;
    transition: all 0.2s linear; }
  .burger-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    bottom: 3px;
    background: #fff;
    transition: all 0.2s linear; }

.header__top.active nav {
  margin: 0 20px;
  width: 100%; }
  .header__top.active nav .navigation {
    flex-direction: column;
    width: 100%; }
    .header__top.active nav .navigation-item {
      width: 100%;
      display: block; }
      .header__top.active nav .navigation-item a {
        font-size: 15px;
        line-height: 60px;
        border-bottom: 2px solid #f0bd7f;
        display: block;
        width: calc(100% - 40px);
        margin: auto;
        text-align: center; }

.header__top.active .header__top-callback {
  flex-direction: column; }
  .header__top.active .header__top-callback-lang {
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    margin: 0; }
    .header__top.active .header__top-callback-lang a {
      border-bottom: none;
      padding: 0 15px; }

.header__top.active .mobile-menu {
  position: absolute;
  width: 100%;
  flex-direction: column;
  top: 70px;
  background: #0d0d0d;
  height: calc(100vh - 70px);
  justify-content: flex-start; }

.header__top.active .burger-menu:after {
  top: 24px;
  transform-origin: left top;
  transform: rotate(-45deg) translate3d(0px, -2px, 0); }

.header__top.active .burger-menu:before {
  bottom: 20px;
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0); }

.header__top.active .header__top-logo {
  margin-top: 16px; }

.header__top.active .burger-menu span {
  background: none; }

@media only screen and (max-width: 1600px) {
  .header__boxed-top img {
    max-width: 700px; }
  .header__boxed-bottom img {
    width: 50%; }
  .header__boxed-top-title {
    font-size: 50px;
    line-height: 50px; } }

@media only screen and (max-width: 1200px) {
  .header__top {
    padding: 0 15px; } }

@media only screen and (max-width: 1100px) {
  nav {
    margin-right: 30px; }
  .header__container-suptitle {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px; }
  .header__container-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px; }
  .header__container-video {
    display: block;
    height: 400px;
    width: 700px;
    margin: auto; } }

@media only screen and (max-width: 991px) {
  .header__top-logo {
    margin-left: 20px;
    display: block; }
  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f7f3ed;
    margin: 20px 0; }
  .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
  .header__top {
    padding: 0;
    max-height: 70px; }
  .header__top-wrap {
    padding-top: 0px; }
  .mobile-menu {
    transition: all 0.2s linear;
    transform: translateX(120%); }
  .header__top.active .mobile-menu {
    transform: translateX(0); }
  .button-header {
    margin-top: 35px; } }

@media only screen and (max-width: 840px) {
  .header__top {
    padding: 0;
    max-height: 47px;
    min-height: 47px; }
  .header__top-logo {
    margin-left: 20px;
    display: block;
    width: 100px; }
    .header__top-logo img {
      max-width: 100%; }
  .burger-menu {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px; }
  .header__container {
    padding-top: 45px; }
  .header__top-logo {
    position: absolute;
    left: 20px;
    top: 13px; }
  .header__top.active .header__top-logo {
    margin-top: 0px; }
  .header__top.active .mobile-menu {
    top: 46px; }
  .header__top.active .mobile-menu {
    height: calc(100vh - 46px);
    z-index: 100; } }

@media only screen and (max-width: 768px) {
  .header__container-suptitle {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px; }
  .header__container-title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px;
    margin-bottom: 25px; }
  .header__container-video {
    display: block;
    height: 280px;
    width: 500px;
    margin: auto; }
  .header__boxed-bottom {
    flex-wrap: wrap; }
    .header__boxed-bottom img {
      width: 100%;
      margin-bottom: 20px; }
  .header__boxed-top img {
    max-width: 500px; }
  .header__boxed-top-title {
    font-size: 40px;
    line-height: 40px; }
  .header__boxed-top-subtitle {
    font-size: 22px;
    margin-bottom: 50px; }
  .header__boxed-top {
    padding-top: 40px; } }

@media only screen and (max-width: 550px) {
  .header__container-video {
    height: 190px;
    width: 340px; }
  .header__container-title {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px; }
  .header__container {
    padding-top: 35px; }
  .header__boxed-top img {
    max-width: 330px; }
  .header__boxed-top-title {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 0; }
  .header__boxed-top-subtitle {
    font-size: 17px;
    margin-bottom: 30px;
    max-width: 220px;
    margin: 15px auto; }
  .header__boxed-top {
    margin-top: 20px;
    margin-bottom: 20px; }
  .header__boxed-bottom {
    margin-bottom: 20px; } }

@media only screen and (max-width: 420px) {
  .header__boxed-bottom img {
    max-height: 400px; } }

@media only screen and (max-width: 374px) {
  .header__container-video {
    height: 165px;
    width: 300px; }
  .header__container {
    padding-top: 25px; }
  .header__container-suptitle {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px; }
  .header__container-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px; }
  .header__top.active nav .navigation-item a {
    font-size: 13px; }
  .header__boxed-top-title {
    font-size: 32px; }
  .header__boxed-top img {
    max-width: 270px; } }

@media only screen and (max-width: 320px) {
  .header__boxed-bottom img {
    max-height: 315px; } }

.training {
  color: #fff;
  background: #000;
  padding-top: 70px; }
  .training__container {
    position: relative; }
    .training__container:after {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      bottom: 190px;
      background: url(../img/one.png) center no-repeat;
      width: 375px;
      height: 575px;
      z-index: 0; }
    .training__container h3 {
      font-size: 38px;
      font-weight: 300;
      color: #fff;
      line-height: 54px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      text-align: center; }
      .training__container h3 span {
        color: #fcc786; }
  .training__box-title {
    display: flex;
    align-items: center;
    background: #060506;
    width: 1350px;
    height: 100px;
    padding-left: 25px;
    margin-top: 40px; }
    .training__box-title h4 {
      font-size: 38px;
      font-weight: 500;
      color: #fff;
      position: relative;
      top: -5px;
      letter-spacing: 1.3px;
      padding-bottom: 5px;
      display: block;
      width: 1150px;
      border-bottom: 2px solid #fcc786; }
      .training__box-title h4 span {
        color: #fcc786; }
  .training__steps {
    display: block;
    margin-left: 300px;
    padding-left: 25px; }
    .training__steps-our {
      display: flex;
      max-width: 630px;
      margin-top: 25px; }
      .training__steps-our-title {
        color: #f0bd7f;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        min-width: 100px; }
      .training__steps-our-text h4 {
        font-size: 20px;
        font-weight: bold;
        line-height: 36px; }
      .training__steps-our-text p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400; }
  .training__bottom {
    position: relative; }
    .training__bottom-first {
      display: none; }
    .training__bottom-second {
      display: none; }
    .training__bottom img {
      margin-left: auto;
      display: block;
      z-index: 2; }
    .training__bottom p {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px; }
      .training__bottom p span {
        color: #f8223b; }

.training__bottom .foot-mb {
  display: none; }

.training__bottom .foot-mini {
  display: none; }

@media only screen and (max-width: 1200px) {
  .training__box-title {
    width: 95%; }
  .training__box-title h4 {
    width: 90%; } }

@media only screen and (max-width: 1150px) {
  .training__bottom img {
    position: relative;
    right: 150px; } }

@media only screen and (max-width: 991px) {
  .training__bottom img {
    position: relative;
    right: 0px; }
  .training__container:after {
    display: none; }
  .training {
    padding: 0 20px;
    padding-top: 45px; }
  .training__steps {
    margin-left: 0;
    padding-left: 0px; }
  .training__container h3 {
    font-size: 30px;
    line-height: 44px; }
  .training {
    padding-top: 50px; } }

@media only screen and (max-width: 820px) {
  .training__bottom .foot-dc {
    display: none; }
  .training__bottom .foot-mb {
    display: block;
    margin: auto; } }

@media only screen and (max-width: 768px) {
  .training__container h3 {
    font-size: 26px;
    line-height: 34px;
    padding-left: 0; }
  .training__box-title {
    background: none;
    padding-left: 0;
    height: auto; }
  .training__box-title h4 {
    font-size: 18px;
    top: 0px;
    letter-spacing: 1px;
    padding-left: 0;
    width: 100%;
    border-bottom: 1px solid #f0bd7f; }
  .training__steps-our {
    flex-direction: column; }
  .training__steps-our-title {
    font-size: 16px;
    line-height: 28px; }
  .training__steps-our-text h4 {
    font-size: 16px;
    line-height: 28px; }
  .training__steps-our-text p {
    font-size: 14px;
    line-height: 23px; } }

@media only screen and (max-width: 550px) {
  .training__bottom .foot-mb {
    display: block;
    margin: auto;
    left: -10%; } }

@media only screen and (max-width: 430px) {
  .training__bottom .foot-mb {
    display: none; }
  .training__bottom .foot-mini {
    display: block;
    width: 100%; }
  .training {
    padding: 0;
    padding-top: 45px; }
  .training__steps-our {
    padding: 0 20px; }
  .training__box-title h4 {
    margin-left: 20px; } }

@media only screen and (max-width: 374px) {
  .training__container h3 {
    font-size: 22px;
    line-height: 30px;
    padding-left: 0; } }

.setting {
  padding-top: 75px; }
  .setting-title {
    font-size: 38px;
    font-weight: 500;
    color: #000;
    position: relative;
    letter-spacing: 1.3px;
    padding-bottom: 5px;
    display: block;
    padding-left: 15px;
    width: 1150px;
    border-bottom: 2px solid #fcc786;
    margin-bottom: 55px; }
    .setting-title span {
      color: #fcc786; }
  .setting_box {
    display: block;
    max-width: 655px;
    padding-left: 15px;
    margin-bottom: 70px;
    position: relative; }
    .setting_box:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/two.png) center no-repeat;
      right: -520px;
      top: -15px;
      width: 430px;
      height: 510px; }
    .setting_box-wrap {
      display: flex; }
    .setting_box-title {
      font-size: 24px;
      color: #f0bd7f;
      line-height: 28px;
      font-weight: bold;
      min-width: 80px; }
    .setting_box-foto {
      display: block;
      margin-top: 35px; }
    .setting_box-text {
      color: #000;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      padding-left: 25px;
      max-width: 495px;
      display: block; }
    .setting_box-img {
      position: absolute;
      right: -50px; }
    .setting_box .step-3 {
      top: 150px; }
    .setting_box .step-4 {
      top: 130px; }
    .setting_box .step-5 {
      top: 150px; }

@media only screen and (max-width: 1200px) {
  .setting_box:after {
    transform: scale(0.7);
    right: -460px; }
  .setting-title {
    width: 90%;
    padding-left: 0;
    margin-left: 20px; } }

@media only screen and (max-width: 1050px) {
  .setting_box:after {
    transform: scale(0.6);
    right: -400px; } }

@media only screen and (max-width: 991px) {
  .setting_box:after {
    display: none; } }

@media only screen and (max-width: 768px) {
  .setting_box-img {
    display: none; } }

@media only screen and (max-width: 650px) {
  .setting-title {
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 25px; }
  .setting {
    padding-top: 25px; }
  .setting_box-wrap {
    flex-direction: column; }
  .setting_box-title {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold; }
  .setting_box-text {
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px; }
  .setting_box-foto {
    display: block;
    margin-top: 20px;
    width: 100%; }
    .setting_box-foto img {
      max-width: 100%; }
  .setting_box {
    padding: 0 20px;
    margin-bottom: 30px; } }

.history {
  background: #000;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden; }
  .history:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 710px;
    height: 100%;
    z-index: 0;
    background: url(../img/history-right.png) center no-repeat; }
  .history:before {
    content: '';
    display: block;
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 860px;
    height: 305px;
    z-index: 0;
    background: url(../img/krause.png) center no-repeat; }
  .history .wrapper-history {
    max-width: 1210px;
    margin: auto;
    display: block; }
  .history__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 590px; }
    .history__container-left {
      width: 50%;
      display: flex;
      align-items: flex-end;
      position: relative; }
      .history__container-left img {
        z-index: 10;
        position: relative; }
      .history__container-left:after {
        content: '';
        display: block;
        position: absolute;
        width: 820px;
        height: 590px;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
        background: url(../img/light.png) center no-repeat; }
    .history__container-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      z-index: 10;
      height: 100%;
      padding-left: 20px;
      position: relative; }
      .history__container-right:after {
        content: '';
        display: block;
        position: absolute;
        width: 700px;
        height: 160px;
        left: 0;
        bottom: 110px;
        z-index: 2;
        background: url(../img/dark-light.png) center no-repeat; }
      .history__container-right h3 {
        font-size: 42px;
        line-height: 44px;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: 45px;
        margin-top: 80px; }
        .history__container-right h3 span {
          color: #f0bd7f; }
      .history__container-right p {
        font-size: 16px;
        line-height: 25px;
        font-weight: lighter;
        margin-bottom: 30px; }
      .history__container-right a {
        display: block;
        text-transform: uppercase;
        color: #f0bd7f;
        text-decoration: underline;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        font-weight: 500; }

@media only screen and (max-width: 1600px) {
  .history:before {
    transform: scale(0.8);
    top: 25%;
    left: -50px; } }

@media only screen and (max-width: 1500px) {
  .history__container-right:after {
    display: none; } }

@media only screen and (max-width: 1400px) {
  .history:before {
    transform: scale(0.6);
    top: 15%;
    left: -150px; } }

@media only screen and (max-width: 1200px) {
  .history:after {
    display: none; }
  .history__container-left img {
    z-index: 10;
    max-width: 450px;
    position: relative; } }

@media only screen and (max-width: 991px) {
  .history__container {
    flex-direction: column;
    height: auto; }
    .history__container-right {
      width: 100%;
      padding: 0 20px;
      padding-bottom: 30px; }
    .history__container-left {
      width: 100%;
      padding: 0 20px;
      overflow: hidden; }
      .history__container-left img {
        display: block;
        margin: auto; }
  .history:before {
    transform: scale(0.7);
    top: 5%;
    left: 30px; } }

@media only screen and (max-width: 768px) {
  .history:before {
    transform: scale(0.6);
    top: 3%;
    left: -100px; } }

@media only screen and (max-width: 600px) {
  .history__container-right h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 44px; }
  .history__container-right p {
    font-size: 14px;
    line-height: 23px;
    font-weight: lighter;
    margin-bottom: 20px; }
  .history__container-right a {
    font-size: 12px;
    margin-top: 0; }
  .history__container-left img {
    position: relative;
    left: 30px; }
  .history:before {
    transform: scale(0.5);
    top: 3%;
    left: -150px; } }

@media only screen and (max-width: 500px) {
  .history__container-left img {
    left: 0px;
    max-width: 100%;
    padding-top: 30px; }
  .history:before {
    transform: scale(0.5);
    top: 0%;
    left: -200px; } }

@media only screen and (max-width: 420px) {
  .history:before {
    transform: scale(0.4);
    top: -20px;
    left: -240px; } }

@media only screen and (max-width: 374px) {
  .history:before {
    transform: scale(0.3);
    top: -40px;
    left: -260px; } }

.details {
  margin-top: 10px; }
  .details .wrapper-details {
    max-width: 1580px;
    margin: 0 auto;
    display: block; }
  .details__container {
    background: #f0f0f0;
    margin-bottom: 60px; }
    .details__container h3 {
      color: #f0bd7f;
      font-size: 42px;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      padding-top: 75px; }
    .details__container h4 {
      color: #000;
      font-weight: 300;
      font-size: 42px;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .details__container img {
      display: block;
      margin: auto; }

.details__container .box-mb {
  display: none; }

@media only screen and (max-width: 1500px) {
  .details__container img {
    max-width: 1200px; } }

@media only screen and (max-width: 1300px) {
  .details__container img {
    max-width: 1000px; } }

@media only screen and (max-width: 1100px) {
  .details__container img {
    max-width: 900px; } }

@media only screen and (max-width: 991px) {
  .details__container img {
    max-width: 700px; }
  .details__container h3 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 300;
    padding-top: 50px; }
  .details__container h4 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px; }
  .details__container {
    margin-bottom: 30px; } }

@media only screen and (max-width: 768px) {
  .details__container img {
    max-width: 650px; } }

@media only screen and (max-width: 700px) {
  .details__container img {
    max-width: 550px; } }

@media only screen and (max-width: 600px) {
  .details__container h3 {
    font-size: 28px;
    line-height: 34px;
    padding-top: 30px; }
  .details__container h4 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px; }
  .details__container .box-mb {
    display: block;
    margin-top: 25px;
    max-width: 100%; }
  .details__container .box-dc {
    display: none; } }

.gallery {
  background: url(../img/gallery/gallery_bg.jpg) center no-repeat; }
  .gallery .wrapper {
    position: relative;
    min-height: 880px; }
  .gallery h3 {
    color: #f0bd7f;
    font-size: 42px;
    line-height: 57px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 35px; }
  .gallery__box {
    z-index: 1; }
    .gallery__box img {
      margin: auto;
      display: block;
      z-index: 1; }

@media only screen and (max-width: 1200px) {
  .gallery__box {
    height: 400px;
    margin: auto; }
    .gallery__box img {
      max-height: 100%; }
  .gallery h3 {
    font-size: 35px;
    line-height: 47px;
    padding-top: 50px;
    margin-bottom: 35px; }
  .gallery .wrapper {
    position: relative;
    min-height: 100px;
    padding-bottom: 90px; } }

@media only screen and (max-width: 991px) {
  .gallery {
    background: #000; } }

.reviews {
  padding: 120px 0; }
  .reviews__container {
    position: relative; }
    .reviews__container:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -70px;
      background: url(../img/elips.png) center no-repeat;
      width: 710px;
      height: 45px; }
  .reviews h3 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: lighter;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 50px;
    position: relative; }
    .reviews h3:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -50px;
      background: url(../img/star.png) center no-repeat;
      width: 135px;
      height: 25px; }
  .reviews__box {
    display: block;
    width: 480px !important;
    height: 250px;
    margin: 10px 15px;
    padding-left: 30px;
    padding-top: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    .reviews__box-author {
      display: flex;
      align-items: center;
      margin-bottom: 25px; }
      .reviews__box-author img {
        display: block;
        border-radius: 100%;
        width: 43px;
        height: 43px;
        margin-right: 20px; }
      .reviews__box-author-name h5 {
        font-size: 18px;
        font-weight: bold;
        color: #000; }
      .reviews__box-author-name p {
        color: #939393;
        font-weight: 500;
        font-size: 14px; }
    .reviews__box p {
      display: block;
      max-width: 395px;
      font-size: 15px;
      line-height: 23px; }
  .reviews__box:active, .reviews__box:focus {
    outline: none; }

@media only screen and (max-width: 768px) {
  .reviews h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px; }
  .reviews {
    padding-top: 70px;
    padding-bottom: 90px; }
  .reviews h3:after {
    top: -40px; } }

@media only screen and (max-width: 500px) {
  .reviews__box {
    width: 300px !important;
    padding-left: 15px; }
  .reviews__box p {
    font-size: 13px;
    max-width: 270px;
    line-height: 23px; }
  .reviews__box-author-name h5 {
    font-size: 16px; }
  .reviews h3 {
    padding: 0 30px; }
  .reviews {
    padding-top: 50px; }
  .reviews__container:after {
    width: calc(100% - 40px); } }

.callback {
  background: #e5eaed;
  min-height: 400px;
  position: relative;
  overflow: hidden; }
  .callback:after {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: -20px;
    background: url(../img/callback-bg-left.png) center no-repeat;
    width: 690px;
    height: 430px;
    z-index: 0; }
  .callback:before {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: -30px;
    background: url(../img/callback-bg-right.png) center no-repeat;
    width: 690px;
    height: 430px;
    z-index: 0; }
  .callback h3 {
    font-size: 28px;
    line-height: 44px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px; }

.form__modal {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 830px;
  min-width: 830px; }
  .form__modal-input {
    display: block;
    background: #fff;
    width: 400px;
    height: 45px;
    border: 1px solid #dadada;
    padding: 5px 20px; }
  .form__modal-input:active, .form__modal-input:focus {
    outline: none;
    border: 1px solid #f0bd7f; }
  .form__modal-textarea {
    width: 100%;
    height: 105px;
    resize: none;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 30px; }
  .form__modal .button {
    margin: 0 auto;
    display: block;
    font-weight: 500; }

@media only screen and (max-width: 1400px) {
  .callback:before {
    transform: scale(0.8);
    right: -80px;
    top: -50px; }
  .callback:after {
    transform: scale(0.8);
    left: -80px;
    top: -50px; } }

@media only screen and (max-width: 991px) {
  .callback:before {
    display: none; }
  .callback:after {
    display: none; } }

@media only screen and (max-width: 860px) {
  .form__modal {
    min-width: 130px;
    width: 400px; }
  .form__modal-input {
    margin-top: 20px; }
  .callback h3 {
    font-size: 24px;
    margin-top: 25px; } }

@media only screen and (max-width: 500px) {
  .form__modal {
    width: 340px; } }

@media only screen and (max-width: 374px) {
  .form__modal {
    width: 280px; }
  .callback h3 {
    font-size: 22px;
    margin-top: 20px; } }

.footer {
  background: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 120px;
  color: #fff;
  flex-direction: column; }
  .footer p {
    color: #848484;
    font-size: 12px;
    line-height: 19px; }

.social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }
  .social ul li a {
    font-size: 18px;
    padding: 7px;
    display: block;
    cursor: pointer;
    transition: all 0.2s linear; }
    .social ul li a:hover {
      transform: scale(1.1);
      color: #f0bd7f; }

@media only screen and (max-width: 350px) {
  .footer p {
    font-size: 10px; }
  .footer {
    height: 100px; } }

body, html {
  overflow-x: hidden; }

*, *:after, *:before {
  box-sizing: border-box; }

input:active, input:focus {
  outline: none; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

p, ul, h1, h2, h3, h4, h4, h5, h6, a, button {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  color: #000; }

button:active, button:focus {
  outline: none; }

body {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #fff; }

.wrapper {
  max-width: 1150px;
  display: block;
  margin: 0 auto; }

.button {
  background: #fcc786;
  display: block;
  width: 136px;
  height: 36px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  line-height: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px solid #fcc786; }
  .button:hover {
    background: #000;
    color: #fcc786;
    cursor: pointer; }

.slick-prev,
.slick-next {
  bottom: 45%;
  width: 45px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transition: all 0.2s linear; }

.slick-prev {
  left: 0;
  transform: translateY(-50%) rotate(-135deg); }

.slick-next {
  right: 0;
  transform: translateY(-50%) rotate(45deg); }

.slick-next:hover {
  background: rgba(255, 255, 255, 0.7); }

.slick-prev:hover {
  background: rgba(255, 255, 255, 0.7); }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 1; }

.slick-prev:before {
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  position: absolute;
  top: 23px;
  left: 18px; }

.slick-next:before {
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  position: absolute;
  top: 22px;
  left: 16px; }

.slick-dots {
  position: absolute;
  bottom: -76px;
  display: block;
  width: 380px;
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: disc;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0bd7f; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 12px;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s linear; }
  .slick-dots li.slick-active {
    transition: all 0.2s linear; }
    .slick-dots li.slick-active:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -28px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #f0bd7f; }
    .slick-dots li.slick-active:before {
      content: '';
      display: block;
      position: absolute;
      transition: all 0.2s linear;
      bottom: -29px;
      left: 45%;
      transform: translateX(-50%);
      width: 88px;
      height: 42px;
      background: url(../img/before.png) center no-repeat; }
  .slick-dots li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #f0bd7f; }

.slick-dots li button {
  width: 15px;
  height: 4px;
  padding: 5px; }

.slick-dots .slick-active a {
  color: #f7c383;
  background: none;
  position: relative;
  top: -17px; }

.slick-dots li a {
  font-size: 13px; }

.reviews .slick-prev:before {
  border: none;
  width: 10px;
  height: 10px;
  transform: rotate(-90deg);
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 101;
  background: url(../img/arrow-up.png) center no-repeat;
  background-size: cover; }

.reviews .slick-next:before {
  border: none;
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
  position: absolute;
  top: 10px;
  left: -1px;
  background: url(../img/arrow-up.png) center no-repeat;
  background-size: cover; }

.reviews .slick-prev,
.reviews .slick-next {
  bottom: -85px;
  z-index: 100; }

.reviews .slick-next {
  left: 50%;
  width: 15px;
  height: 30px;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background: #fcc786;
  transform: translateY(-50%) rotate(0); }

.reviews .slick-prev {
  left: calc(50% - 15px);
  width: 15px;
  height: 30px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: #fcc786;
  transform: translateY(-50%) rotate(0); }

/* Lazyload iframe YOUtube */
.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  width: 100%; }

.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7; }

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px; }

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff; }

.youtube img, .youtube .play-button {
  cursor: pointer; }

.youtube img, .youtube iframe, .youtube .play-button, .youtube .play-button:before {
  position: absolute; }

.youtube .play-button, .youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

@media only screen and (max-width: 1200px) {
  .slick-prev, .slick-next {
    bottom: 37%; }
  .slick-prev {
    left: 130px; }
  .slick-next {
    right: 130px; } }

@media only screen and (max-width: 991px) {
  .slick-dots li.slick-active:before {
    background: url(../img/before-mobile.png) center no-repeat; }
  .slick-dots {
    left: 47%; } }

@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 20px; }
  .slick-next {
    right: 20px; }
  .gallery__box img {
    max-height: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 650px) {
  .gallery h3 {
    font-size: 28px;
    line-height: 57px;
    padding-top: 40px;
    margin-bottom: 20px; }
  .slick-prev, .slick-next {
    bottom: 45%; }
  .slick-dots {
    left: 50%;
    bottom: -20px; }
  .gallery .wrapper {
    padding-bottom: 50px; } }

@media only screen and (max-width: 500px) {
  .slick-prev, .slick-next {
    bottom: 50%; }
  .gallery .wrapper {
    padding-bottom: 0px; }
  .slick-dots {
    left: 50%;
    bottom: 40px; } }

@media only screen and (max-width: 420px) {
  .slick-prev, .slick-next {
    bottom: 53%; }
  .slick-dots {
    left: 50%;
    bottom: 50px; }
  .slick-dots li a {
    opacity: 0; }
  .slick-dots li {
    margin: 0 10px; }
  .gallery__box {
    height: 350px; }
  .slick-prev {
    left: 5px; }
  .slick-next {
    right: 5px; } }

@media only screen and (max-width: 374px) {
  .gallery__box {
    height: 300px; }
  .gallery h3 {
    font-size: 24px;
    line-height: 47px;
    padding-top: 30px;
    margin-bottom: 15px; } }
