.photo {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}



.new.review:after {

  background: none;
  height: 120px;
}

p.block {
    
    width: 320px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.block span {

  max-height: 210px;
  overflow: hidden;
}

p.block span:first-child {

  margin-bottom: 20px;

}

p.block img:first-child {

    margin-bottom: 10px;
}

p.block.big img:first-child {

   margin-bottom: 0;
}

.photo img {
   width: 320px;
}

.photo img:last-child {

   margin-top: auto;
}

p.new-text {
   text-align: center;
   margin-top: 20px;

}

@media only screen and (max-width: 640px) {

p.block {

   margin-bottom: 10px;
}

p.block.big img {

   margin-bottom: 0;

}

p.block span:first-child {

  margin-bottom: 10px;

}

}


@media only screen and (min-width: 640px) and (max-width: 767px) {

.new .container {

  width: 100%;
  max-width: 640px;
}

.photo img {
   width: 300px;
}

p.block {
   width: 300px;
}

}



@media only screen and (min-width: 640px) and (max-width: 768px) {


p.block.ipad {

   flex-direction: row;
   width: 100%;
   justify-content: space-around;
}

p.block.ipad img:first-child {

   margin-bottom: 0;

}

}

button {

  outline: none;

  cursor: pointer;

}



button:active :visited :focus {

  outline: none;

  text-decoration: none;

}




.button {

  border-radius: 50px;

  padding: 20px 40px;

  font-size: 20px;

  text-transform: uppercase;

  font-weight: 700;

  background-color: #CC4EDA;

  border: none;

  color: #fff;

  z-index: 6;

  text-decoration: none;
    
  transition: all 0.2s linear;

}


.button2 {
    border-radius: 50px;
    padding: 25px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #CC4EDA;
    border: none;
    color: #fff;
    z-index: 6;
    text-decoration: none;
}


.button:hover {

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);

}

.min {
  padding: 20px 27px;
  font-size: 14px;
}

.header {

  min-height: 10vh;

}



.header-button {

  font-weight: 700;

  color: #00CB0A;

  text-transform: uppercase;

  border: none;

  background-color: transparent;

  text-align: center;

  font-size: 13px;

  width: 100%;

  text-decoration: underline;

}



.header-info {

  display: -webkit-box;

  display: flex;

}



.header-location {

  margin-right: 70px;

  -webkit-box-flex: 0;

  flex: 0 0 60%;

}



.header-location:before {

  content: '';

  background: url("../img/header/header-location.png");

  display: block;

  position: absolute;

  top: 0px;

  left: -8px;

  height: 20px;

  width: 18px;

}



.header-location__title {

  margin-bottom: 5px;

}



.header-location__subtitle {

  font-size: 15px;

}



.header-call {

  position: relative;

}



.header-call:before {

  content: '';

  background: url("../img/header/header-call.png");

  display: block;

  position: absolute;

  top: 0px;

  left: -23px;

  height: 20px;

  width: 18px;

}



.header-call__title {

  margin-bottom: 5px;

  font-weight: 700;

}



.main {

  margin-bottom: -5px;

  max-height: 90vh;

}



.main-text {

  z-index: 2;

}



.main-title {

  color: #9636A3;

  font-size: 48px;

  font-weight: 700;

  margin-bottom: 27px;

}



.main-subtitle {

  font-weight: 700;

  margin-bottom: 25px;

}



.main-text {

  line-height: 24px;

  margin-bottom: 68px;

  margin-right: 30px;

}



.main-button {

  text-align: center;

}



.main-img {

  z-index: -1;

}



.main-img__bg {

  margin-left: -250px;

  max-height: 550px;

}



.advantages {

  background-color: #F5F6F4;

  padding-top: 60px;

}



.advantages-title {

  font-size: 24px;

  font-weight: 700;

  margin-bottom: 20px;

}



.advantages-img {

  margin-bottom: 100px;

  position: relative;

}



.advantages-img:before {

  content: '';

  display: block;

  position: absolute;

  width: 200px;

  height: 41px;

  background: url("../img/advantages/triangle.png") center no-repeat;

  top: -38px;

  left: 18px;

}



.advantages-header {

  margin-bottom: 95px;

}



.advantages:after {

  background: url("../img/advantages/grass.png") center repeat;

  width: 100%;

  content: '';

  display: block;

  height: 300px;

  margin-top: -150px;

  top: -20px;

  left: 0;

}



.quote {

  position: relative;

  background: url("../img/quote-bg.png") center repeat;

}



.quote:before {

  display: block;

  content: '';

  position: absolute;

  background-color: rgba(204, 78, 218, 0.33);

  z-index: 0;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}



.quotes {

  padding-top: 60px;

}



.quote-text {

  font-family: 'Pacifico', cursive;

  font-size: 48px;

  line-height: 50px;

  margin-top: 30px;

}



.quote-img {

  margin-left: -50px;

}



.growup {

  max-width: 100%;

}



.growup-title {

  font-size: 48px;

  color: #9636A3;

  font-weight: 700;

  margin-bottom: 30px;

}



.growup-text {

  margin-bottom: 35px;

}



.growup-text_bold {

  font-weight: 700;

  margin-bottom: 55px;

}



.available {

  padding-top: 50px;

  background-color: #F5F6F4;

  padding-bottom: 50px;

}



.available-title {

  color: #9636A3;

  font-size: 24px;

  font-weight: 700;

  margin-bottom: 10px;

}



.available-padding {

  padding-bottom: 50px;

}



.review {

  padding-top: 55px;

}



.review-wrap {

  display: -webkit-box;

  display: flex;

  -webkit-box-orient: horizontal;

  -webkit-box-direction: normal;

  flex-direction: row;

  flex-wrap: wrap;

  -webkit-box-align: end;

  align-items: flex-end;

  margin-bottom: 20px;

}



.review-img {

  max-width: 10%;

  position: relative;

  top: 30px;

  margin-right: 15px;

}



.review-name {

  font-size: 24px;

  font-weight: 700;

  color: #CC4EDA;

  max-width: 20%;

}



.review-text {

  padding: 40px 10px;

  background-color: #E5F6FA;

}



.review-button {

  padding-top: 40px;

}



.review:after {

  background: url("../img/reviews/tree.png") center repeat;

  width: 100%;

  content: '';

  display: block;

  height: 390px;

  margin-top: -100px;

  left: 0;

}



.help {

  background: url("../img/quote-bg.png") center repeat;

  background-size: cover;

  position: relative;

}



.help:before {

  display: block;

  content: '';

  position: absolute;

  background-color: rgba(204, 78, 218, 0.33);

  z-index: 0;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}



.help-text {

  font-family: 'Pacifico', cursive;

  font-size: 24px;

  margin-bottom: 60px;

  text-align: center;

  margin-right: 22px;

}



.help-img {

  margin-left: -20px;

  z-index: 2;

}



.help-button {

  margin-right: 22px;

}



.adress-info {

  margin-left: 15px;

  padding-bottom: 200px;

}



.adress-title {

  font-size: 24px;

  font-weight: 700;

  margin-top: 40px;

  margin-bottom: 20px;

}



.adress-text {

  margin-bottom: 15px;

}



.adress-mail {

  margin-bottom: 30px;

}



.adress-media {

  margin-bottom: 25px;

  font-size: 24px;

  font-weight: 700;

}



.adress-tree {

  position: absolute;

  right: 30px;

  bottom: -10px;

}



.media-link {

  max-height: 35px;

  max-width: 35px;

  text-decoration: none;

  margin-right: 18px;

}



.call-back__popup {

  content: '';

  display: none;

  position: fixed;

  top: 0;

  right: 0;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;

  width: 100%;

}



.call-back {

  left: 50%;

  -webkit-transform: translateX(-50%);

  transform: translateX(-50%);

  position: fixed;

  display: block;

  top: 102px;

  z-index: 4;

  text-align: center;

  width: 545px;

  background-color: #fff;

  font-weight: 700;

  text-transform: uppercase;

  color: #57255D;

  border-radius: 10px;

}



.call-back__close {

  font-size: 35px;

  position: absolute;

  right: 20px;

  top: -5px;

  cursor: pointer;

  color: #000;

  font-weight: 500;

}



.call-back__title {

  font-size: 48px;

  margin-top: 30px;

}



.call-back__subtitle {

  font-size: 25px;

  margin-bottom: 40px;

}



.call-back__button {

  margin-bottom: 60px;

}



.input-tel {

  margin-bottom: 40px;

}



.input {

  outline: none;

  border-radius: 30px;

  background-color: #EBE8E8;

  font-size: 24px;

  border: none;

  padding: 20px 120px 10px 30px;

}



.input:focus {

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}



.input-name {

  margin-top: 50px;

  margin-bottom: 20px;

}



.entry-popup {

  content: '';

  display: none;

  position: fixed;

  top: 0;

  right: 0;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;

  width: 100%;

}



.entry-popup2 {

  content: '';

  display: none;

  position: fixed;

  top: 0;

  right: 0;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;

  width: 100%;

}



.entry {

  left: 50%;

  -webkit-transform: translateX(-50%);

  transform: translateX(-50%);

  position: fixed;

  display: block;

  top: 102px;

  z-index: 4;

  text-align: center;

  width: 545px;

  background-color: #fff;

  font-weight: 700;

  text-transform: uppercase;

  color: #57255D;

  border-radius: 10px;

}



.entry__close {

  font-size: 35px;

  position: absolute;

  right: 20px;

  top: -5px;

  cursor: pointer;

  color: #000;

  font-weight: 500;

}



.entry__title {

  font-size: 48px;

  margin-top: 30px;

}



.entry__subtitle {

  font-size: 25px;

  margin-bottom: 40px;

}



.entry__button {

  margin-bottom: 60px;

}



.thanks__popup {

  content: '';

  display: block;

  position: fixed;

  top: 0;

  right: 0;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;

  width: 100%;

  padding-bottom: 20px;

}



body {

  font-family: 'PT Sans', sans-serif;

  margin: 0;

  padding: 0;

  font-size: 18px;

}



p {

  padding: 0;

  margin: 0;

}



.uppercase {

  text-transform: uppercase;

}



.section-header {

  text-align: center;

}



.section-header__title {

  color: #9636A3;

  font-size: 48px;

  font-weight: 700;

  margin-bottom: 15px;

}



.section-header__text {

  font-size: 20px;

}



.section-header_bold {

  font-weight: 700;

  margin-top: 30px;

  margin-bottom: 45px;

}



.emoji {

  height: 20px;

}



.row-margin {

  margin-right: 0;

}



.footer {

  background-color: #CC4EDA;

  text-align: center;

  padding: 20px 0;

}



.footer-text {

  font-size: 16px;

  font-weight: 700;

  color: #fff;

}
/* questions
=============== */

.questions {
    padding-top: 50px;
    padding-bottom: 70px;
    background: #f1f3e6;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}
.questions h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.subtitle {
    font-size: 17px;
    font-weight: bold;
}
.questions__container {
    display: flex;
    justify-content: space-between;
}  
.questions__block-left img {
    width: 450px;
    border-radius: 8px;
    margin-top: 40px;
}
.questions__block-right {
    width: 650px;
    margin-top: 40px;
    margin-bottom:  30px;
}
.acardeon__block {
    display: block;
    margin-bottom: 2px;
}
.acaedeon__block-title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 15px 47px 15px 20px;
    position: relative;
    cursor: pointer;
    color: #000;
    border-radius: 0 0 7px 7px;
    transition: all 0.2s linear;
}
.acaedeon__block-title span {
    padding-right: 5px;
    position: relative;
    top: 3px;
}
.acaedeon__block-title:hover {
    color: #FFC312;
}
.acaedeon__block-title:hover .icon{
    color: #FFC312;
}
.icon {
    position: absolute;
    font-size: 22px;
    right: 15px;
    top: 50%;
    color: #78a718;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.2s linear;
}
.acaedeon__block-content {
    background: #efeadd;
    color: #444;
    font-size: 14px;
    display: none;
    line-height: 1.5;
    padding: 0 40px 20px;
    border-radius: 0 0 7px 7px;
}
.acaedeon__block-content p {
    padding-top: 5px;
    text-align: left;
}
.acardeon__block .active {
    background: #efeadd;
}
.acardeon__block.active .acaedeon__block-content{
    display: block;
}
.acardeon__block.active .acaedeon__block-title{
    background: #efeadd;
}
strong {
    color: #000;
    font-weight: bold;
}
.acardeon__block.active .plus {
    display: none;
}
.acardeon__block.active .minus {
    display: block;
    color: red;
}
.acardeon__block .minus {
    display: none;
}
.acaedeon__block-title h4 {
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
}


@media (max-width: 1200px) { 
    .questions__block-left {
        display: none;
    }
    .questions__container {
        justify-content: center;
    }
    .questions__block-right {
        margin: 0 15px;
    }
}
@media (max-width: 768px) { 
    .questions {
        padding-top: 40px;
        padding-bottom: 60px;
        margin-top: 20px;
    }
    .questions h2 {
        font-size: 30px;
        margin-top: 10px;
    }
}
@media (max-width: 500px) { 
    .questions h2 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
}
@media (max-width: 340px) { 
    .questions h2 {
        font-size: 18px;
    }
    .acaedeon__block-title h4 {
        font-size: 14px;
    }
    .acaedeon__block-title {
        font-size: 15px;
    }
}

.entry__close2 {
    font-size: 35px;
    position: absolute;
    right: 20px;
    top: -5px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}


















/* /questions
=============== */


@media (max-width: 600px) {

  body {

    font-size: 14px;

    text-align: center;

  }



  .header {

    margin-bottom: 20px;

  }



  .header-info {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    flex-direction: column;

  }



  .header-location {

    margin-right: 0;

    margin-bottom: 15px;

  }



  .main-title {

    line-height: 1;

  }



  .main-text {

    margin-right: 0;

    margin-bottom: 20px;

  }



  .main-img__bg {

    margin-left: 0;

  }



  .advantages {

    padding-top: 20px;

  }



  .advantages-header {

    margin-bottom: 30px;

  }



  .advantages-img {

    margin-bottom: 10px;

  }



  .advantages-title {

    margin-bottom: 10px;

  }



  .advantages-text {

    margin-bottom: 40px;

  }



  .section-header__title {

    font-size: 40px;

  }



  .section-header__text {

    font-size: 18px;

  }



  .quote {

    padding-bottom: 20px;

  }



  .quote-text {

    font-size: 35px;

  }



  .growup {

    padding-top: 20px;

  }



  .growup-title {

    font-size: 40px;

    line-height: 1;

  }



  .available {

    padding-top: 20px;

    padding-bottom: 20px;

  }



  .available-padding {

    padding-bottom: 0px;

  }



  .available-title {

    margin-bottom: 5px;

  }



  .available-text {

    margin-bottom: 40px;

  }



  .review-img {

    margin-right: 0;

    max-width: 100%;

  }



  .review-name {

    max-width: 30%;

  }



  .review:after {

    display: none;

  }



  .review-button {

    padding-top: 0px;

  }



  .help {

    padding: 20px 0;

  }



  .help-text {

    margin-bottom: 10px;

  }



  .help-button {

    margin: 0;

  }



  .help-img {

    max-width: 80%;

    margin-left: auto;

    margin-right: auto;

  }



  .adress {

    margin-top: 20px;

  }



  .adress-info {

    padding-bottom: 100px;

  }



  .adress-tree {

    max-height: 35%;

    right: 0;

  }



  .footer-text {

    font-size: 12px;

  }



  .call-back {

    max-width: 95%;

  }



  .call-back__title {

    font-size: 40px;

  }



  .call-back__subtitle {

    font-size: 20px;

  }



  .call-back__button {

    margin-bottom: 10px;

  }



  .input {

    padding: 15px 15px;

    min-width: 90%;

    font-size: 20px;

  }



  .entry {

    max-width: 95%;

  }



  .entry__title {

    font-size: 40px;

  }



  .entry__button {

    margin-bottom: 10px;

  }



.button {
    font-size: 15px;
    padding: 20px 35px;
    margin-bottom: 20px;
}
  .min {
    font-size: 14px;
    padding: 18px 20px;
  } 

  .img_width {

    max-width: 100%;

  }



  .hidden-mobile {

    display: none;

  }

}



@media (min-width: 601px) and (max-width: 991px) {

  .header-location {

    margin-right: 0;

  }



  .main-img__bg {

    margin-left: 0;

  }



  .advantages-img {

    margin-bottom: 10px;

  }



  .advantages-text {

    margin-bottom: 100px;

  }



  .quote {

    text-align: center;

    padding: 20px 0;

  }



  .quote-text {

    margin-top: 0;

  }



  .quotes {

    padding: 0;

  }



  .growup {

    margin: 20px 10px;

  }



  .growup-img {

    width: 90%;

    text-align: center;

  }



  .review-img {

    margin-right: 0;

    max-width: 100%;

  }



  .review-name {

    max-width: 100%;

  }



  .review-button {

    padding-top: 0px;

  }



  .help {

    padding: 20px 0;

  }



  .adress {

    padding: 20px 0;

  }



  .adress-tree {

    bottom: -30px;

  }



  .hidden-mobile {

    display: none;

  }

}


@media screen and (max-width: 991px) {
  .main {
  
    max-height: none;
  }
}
@media (min-width: 991px) and (max-width: 1400px) {

  .main-img__bg {

    margin-left: -200px;

  }



  .quotes {

    padding-top: 10px;

  }



  .growup {

    padding: 20px 10px;

  }



  .growup-title {

    line-height: 1;

  }



  .growup-img {

    max-width: 50%;

  }



  .help-img {

    min-width: 50%;

  }



  .laptop-width {

    max-width: 50%;

  }

}

@media screen and (max-width: 480px){
  .min {
    font-size: 13px;
    padding: 14px 15px;
  }

}