// main : style.scss

$color-main: #fff;
$color-secondary: #f0bd7f;

.gallery {
    background: url(../img/gallery/gallery_bg.jpg) center no-repeat;
    & .wrapper {
        position: relative;
        min-height: 880px;
    }
    & h3 {
        color: #f0bd7f;
        font-size: 42px;
        line-height: 57px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding-top: 75px;
        margin-bottom: 35px;
    }
    &__box {
        z-index: 1;
        & img {
            margin: auto;
            display: block;
            z-index: 1;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .gallery__box {
        height: 400px;
        margin: auto;
        & img {
            max-height: 100%;
        }
    }
    .gallery h3 {
        font-size: 35px;
        line-height: 47px;
        padding-top: 50px;
        margin-bottom: 35px;
    }
    .gallery .wrapper {
        position: relative;
        min-height: 100px;
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 991px) {
    .gallery {
        background: #000;
    }
}