// main : style.scss

$color-main: #fff;
$color-secondary: #f0bd7f;

.history {
    background: #000;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 710px;
        height: 100%;
        z-index: 0;
        background: url(../img/history-right.png) center no-repeat;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        width: 860px;
        height: 305px;
        z-index: 0;
        background: url(../img/krause.png) center no-repeat;
    }
    & .wrapper-history {
        max-width: 1210px;
        margin: auto;
        display: block;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 590px;
        &-left {
            width: 50%;
            display: flex;
            align-items: flex-end;
            position: relative;
            & img {
                z-index: 10;
                position: relative;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 820px;
                height: 590px;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%,-50%, 0);
                z-index: 2;
                background: url(../img/light.png) center no-repeat;
            }
        }
        &-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            z-index: 10;
            height: 100%;
            padding-left: 20px;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 700px;
                height: 160px;
                left: 0;
                bottom: 110px;
                z-index: 2;
                background: url(../img/dark-light.png) center no-repeat;
            }
            & h3 {
                font-size: 42px;
                line-height: 44px;
                font-weight: lighter;
                text-transform: uppercase;
                margin-bottom: 45px;
                margin-top: 80px;
                & span {
                    color: #f0bd7f;
                }
            }
            & p {
                font-size: 16px;
                line-height: 25px;
                font-weight: lighter;
                margin-bottom: 30px;
            }
            & a {
                display: block;
                text-transform: uppercase;
                color: #f0bd7f;
                text-decoration: underline;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                margin: auto;
                margin-top: 15px;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .history:before {
        transform: scale(0.8);
        top: 25%;
        left: -50px;;
        
    }
    
}
@media only screen and (max-width: 1500px) {
    .history__container-right:after {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .history:before {
        transform: scale(0.6);
        top: 15%;
        left: -150px;
    }
}
@media only screen and (max-width: 1200px) {
    .history:after {
        display: none;
    }
    .history__container-left img {
        z-index: 10;
        max-width: 450px;
        position: relative;
    }
}
@media only screen and (max-width: 991px) {
    .history__container {
        flex-direction: column;
        height: auto;
        &-right {
            width: 100%;
            padding: 0 20px;
            padding-bottom: 30px;
        }
        &-left {
            width: 100%;
            padding: 0 20px;
            overflow: hidden;
            & img {
                display: block;
                margin: auto;
            }
        }
    }
    .history:before {
        transform: scale(0.7);
        top: 5%;
        left: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .history:before {
        transform: scale(0.6);
        top: 3%;
        left: -100px;
    }
}
@media only screen and (max-width: 600px) {
    .history__container-right h3 {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 44px;
    }
    .history__container-right p {
        font-size: 14px;
        line-height: 23px;
        font-weight: lighter;
        margin-bottom: 20px;
    }
    .history__container-right a {
        font-size: 12px;
        margin-top: 0;
    }
    .history__container-left img {
        position: relative;
        left: 30px;
    }
    .history:before {
        transform: scale(0.5);
        top: 3%;
        left: -150px;
    }
}
@media only screen and (max-width: 500px) {
    .history__container-left img {
        left: 0px;
        max-width: 100%;
        padding-top: 30px;
    }
    .history:before {
        transform: scale(0.5);
        top: 0%;
        left: -200px;
    }
}
@media only screen and (max-width: 420px) {
    .history:before {
        transform: scale(0.4);
        top: -20px;
        left: -240px;
    }
}
@media only screen and (max-width: 374px) {
    .history:before {
        transform: scale(0.3);
        top: -40px;
        left: -260px;
    }
}
















