@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Light"), local("Helvetica-Neue-Light"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.header .wrapper-container {
  max-width: 1000px;
  margin: 0 auto;
  display: block; }

.header__top {
  background: #000;
  min-height: 70px; }
  .header__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; }
  .header__top-callback {
    display: flex;
    align-items: center; }
    .header__top-callback-lang {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 15px; }
      .header__top-callback-lang a {
        color: #c2c2c2;
        font-size: 11px;
        text-transform: uppercase;
        padding: 7px 0;
        border-bottom: 1px solid #c2c2c2;
        transition: all 0.2s linear; }
      .header__top-callback-lang a:hover {
        color: #fff;
        font-weight: 500; }
      .header__top-callback-lang a:last-child {
        border-bottom: none; }

.header__container {
  background: url(../img/header-bg.png) center no-repeat;
  padding-top: 80px;
  padding-bottom: 80px; }
  .header__container-suptitle {
    color: #000;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px; }
  .header__container-title {
    color: #f0bd7f;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 40px; }
  .header__container-video {
    display: block;
    height: 550px; }

.header .wrapper-header {
  max-width: 1580px;
  margin: 0 auto;
  display: block; }

.header__boxed-top {
  background: #f7f3ed;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 45px; }
  .header__boxed-top-title {
    font-size: 66px;
    line-height: 51px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  .header__boxed-top-subtitle {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px; }
  .header__boxed-top img {
    display: block;
    margin: auto; }

.header__boxed-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px; }

nav {
  margin-right: 115px; }
  nav .navigation {
    display: flex;
    align-items: center; }
    nav .navigation-item {
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase; }
      nav .navigation-item a {
        display: block;
        padding: 5px 20px;
        transition: all 0.2s linear; }
        nav .navigation-item a:hover {
          color: #f0bd7f; }

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center; }

.burger-menu {
  display: none;
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear; }
  .burger-menu span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    margin-top: 13px;
    transition: all 0.2s linear; }
  .burger-menu:after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    top: 3px;
    background: #fff;
    transition: all 0.2s linear; }
  .burger-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    bottom: 3px;
    background: #fff;
    transition: all 0.2s linear; }

.header__top.active nav {
  margin: 0 20px;
  width: 100%; }
  .header__top.active nav .navigation {
    flex-direction: column;
    width: 100%; }
    .header__top.active nav .navigation-item {
      width: 100%;
      display: block; }
      .header__top.active nav .navigation-item a {
        font-size: 15px;
        line-height: 60px;
        border-bottom: 2px solid #f0bd7f;
        display: block;
        width: calc(100% - 40px);
        margin: auto;
        text-align: center; }

.header__top.active .header__top-callback {
  flex-direction: column; }
  .header__top.active .header__top-callback-lang {
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    margin: 0; }
    .header__top.active .header__top-callback-lang a {
      border-bottom: none;
      padding: 0 15px; }

.header__top.active .mobile-menu {
  position: absolute;
  width: 100%;
  flex-direction: column;
  top: 70px;
  background: #0d0d0d;
  height: calc(100vh - 70px);
  justify-content: flex-start; }

.header__top.active .burger-menu:after {
  top: 24px;
  transform-origin: left top;
  transform: rotate(-45deg) translate3d(0px, -2px, 0); }

.header__top.active .burger-menu:before {
  bottom: 20px;
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0); }

.header__top.active .header__top-logo {
  margin-top: 16px; }

.header__top.active .burger-menu span {
  background: none; }

@media only screen and (max-width: 1200px) {
  .header__top {
    padding: 0 15px; } }

@media only screen and (max-width: 1100px) {
  nav {
    margin-right: 30px; }
  .header__container-suptitle {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px; }
  .header__container-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px; }
  .header__container-video {
    display: block;
    height: 400px;
    width: 700px;
    margin: auto; } }

@media only screen and (max-width: 991px) {
  .header__top-logo {
    margin-left: 20px;
    display: block; }
  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f7f3ed;
    margin: 20px 0; }
  .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
  .header__top {
    padding: 0;
    max-height: 70px; }
  .header__top-wrap {
    padding-top: 0px; }
  .mobile-menu {
    transition: all 0.2s linear;
    transform: translateX(120%); }
  .header__top.active .mobile-menu {
    transform: translateX(0); }
  .button-header {
    margin-top: 35px; } }

@media only screen and (max-width: 840px) {
  .header__top {
    padding: 0;
    max-height: 47px;
    min-height: 47px; }
  .header__top-logo {
    margin-left: 20px;
    display: block;
    width: 100px; }
    .header__top-logo img {
      max-width: 100%; }
  .burger-menu {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px; }
  .header__container {
    padding-top: 45px; }
  .header__top-logo {
    position: absolute;
    left: 20px;
    top: 13px; }
  .header__top.active .header__top-logo {
    margin-top: 0px; }
  .header__top.active .mobile-menu {
    top: 46px; }
  .header__top.active .mobile-menu {
    height: calc(100vh - 46px);
    z-index: 100; } }

@media only screen and (max-width: 768px) {
  .header__container-suptitle {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px; }
  .header__container-title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px;
    margin-bottom: 25px; }
  .header__container-video {
    display: block;
    height: 280px;
    width: 500px;
    margin: auto; } }

@media only screen and (max-width: 550px) {
  .header__container-video {
    height: 190px;
    width: 340px; }
  .header__container-title {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px; }
  .header__container {
    padding-top: 35px; } }

@media only screen and (max-width: 374px) {
  .header__container-video {
    height: 165px;
    width: 300px; }
  .header__container {
    padding-top: 25px; }
  .header__container-suptitle {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px; }
  .header__container-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px; }
  .header__top.active nav .navigation-item a {
    font-size: 13px; } }

.training {
  color: #fff;
  background: #000;
  padding-top: 70px; }
  .training__container {
    position: relative; }
    .training__container:after {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      bottom: 190px;
      background: url(../img/one.png) center no-repeat;
      width: 375px;
      height: 575px;
      z-index: 0; }
    .training__container h3 {
      font-size: 38px;
      font-weight: 300;
      color: #fff;
      line-height: 54px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      text-align: center; }
      .training__container h3 span {
        color: #fcc786; }
  .training__box-title {
    display: flex;
    align-items: center;
    background: #060506;
    width: 1350px;
    height: 100px;
    padding-left: 25px;
    margin-top: 40px; }
    .training__box-title h4 {
      font-size: 38px;
      font-weight: 500;
      color: #fff;
      position: relative;
      top: -5px;
      letter-spacing: 1.3px;
      padding-bottom: 5px;
      display: block;
      width: 1150px;
      border-bottom: 2px solid #fcc786; }
      .training__box-title h4 span {
        color: #fcc786; }
  .training__steps {
    display: block;
    margin-left: 300px;
    padding-left: 25px; }
    .training__steps-our {
      display: flex;
      max-width: 630px;
      margin-top: 25px; }
      .training__steps-our-title {
        color: #f0bd7f;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        min-width: 100px; }
      .training__steps-our-text h4 {
        font-size: 20px;
        font-weight: bold;
        line-height: 36px; }
      .training__steps-our-text p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400; }
  .training__bottom {
    position: relative; }
    .training__bottom-first {
      display: none; }
    .training__bottom-second {
      display: none; }
    .training__bottom img {
      margin-left: auto;
      display: block;
      z-index: 2; }
    .training__bottom p {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px; }
      .training__bottom p span {
        color: #f8223b; }

.training__bottom .foot-mb {
  display: none; }

.training__bottom .foot-mini {
  display: none; }

@media only screen and (max-width: 1200px) {
  .training__box-title {
    width: 95%; }
  .training__box-title h4 {
    width: 90%; } }

@media only screen and (max-width: 1150px) {
  .training__bottom img {
    position: relative;
    right: 150px; } }

@media only screen and (max-width: 991px) {
  .training__bottom img {
    position: relative;
    right: 0px; }
  .training__container:after {
    display: none; }
  .training {
    padding: 0 20px;
    padding-top: 45px; }
  .training__steps {
    margin-left: 0;
    padding-left: 0px; }
  .training__container h3 {
    font-size: 30px;
    line-height: 44px; }
  .training {
    padding-top: 50px; } }

@media only screen and (max-width: 820px) {
  .training__bottom .foot-dc {
    display: none; }
  .training__bottom .foot-mb {
    display: block;
    margin: auto; } }

@media only screen and (max-width: 768px) {
  .training__container h3 {
    font-size: 26px;
    line-height: 34px;
    padding-left: 0; }
  .training__box-title {
    background: none;
    padding-left: 0;
    height: auto; }
  .training__box-title h4 {
    font-size: 18px;
    top: 0px;
    letter-spacing: 1px;
    padding-left: 0;
    width: 100%;
    border-bottom: 1px solid #f0bd7f; }
  .training__steps-our {
    flex-direction: column; }
  .training__steps-our-title {
    font-size: 16px;
    line-height: 28px; }
  .training__steps-our-text h4 {
    font-size: 16px;
    line-height: 28px; }
  .training__steps-our-text p {
    font-size: 14px;
    line-height: 23px; } }

@media only screen and (max-width: 550px) {
  .training__bottom .foot-mb {
    display: block;
    margin: auto;
    left: -10%; } }

@media only screen and (max-width: 430px) {
  .training__bottom .foot-mb {
    display: none; }
  .training__bottom .foot-mini {
    display: block;
    width: 100%; }
  .training {
    padding: 0;
    padding-top: 45px; }
  .training__steps-our {
    padding: 0 20px; }
  .training__box-title h4 {
    margin-left: 20px; } }

@media only screen and (max-width: 374px) {
  .training__container h3 {
    font-size: 22px;
    line-height: 30px;
    padding-left: 0; } }

.setting {
  padding-top: 75px; }
  .setting-title {
    font-size: 38px;
    font-weight: 500;
    color: #000;
    position: relative;
    letter-spacing: 1.3px;
    padding-bottom: 5px;
    display: block;
    padding-left: 15px;
    width: 1150px;
    border-bottom: 2px solid #fcc786;
    margin-bottom: 55px; }
    .setting-title span {
      color: #fcc786; }
  .setting_box {
    display: block;
    max-width: 655px;
    padding-left: 15px;
    margin-bottom: 70px;
    position: relative; }
    .setting_box:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/two.png) center no-repeat;
      right: -520px;
      top: -15px;
      width: 430px;
      height: 510px; }
    .setting_box-wrap {
      display: flex; }
    .setting_box-title {
      font-size: 24px;
      color: #f0bd7f;
      line-height: 28px;
      font-weight: bold;
      min-width: 80px; }
    .setting_box-foto {
      display: block;
      margin-top: 35px; }
    .setting_box-text {
      color: #000;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      padding-left: 25px;
      max-width: 495px;
      display: block; }
    .setting_box-img {
      position: absolute;
      right: -50px; }
    .setting_box .step-3 {
      top: 150px; }
    .setting_box .step-4 {
      top: 130px; }
    .setting_box .step-5 {
      top: 150px; }

@media only screen and (max-width: 1200px) {
  .setting_box:after {
    transform: scale(0.7);
    right: -460px; }
  .setting-title {
    width: 90%;
    padding-left: 0;
    margin-left: 20px; } }

@media only screen and (max-width: 1050px) {
  .setting_box:after {
    transform: scale(0.6);
    right: -400px; } }

@media only screen and (max-width: 991px) {
  .setting_box:after {
    display: none; } }

@media only screen and (max-width: 768px) {
  .setting_box-img {
    display: none; } }

@media only screen and (max-width: 650px) {
  .setting-title {
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 25px; }
  .setting {
    padding-top: 25px; }
  .setting_box-wrap {
    flex-direction: column; }
  .setting_box-title {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold; }
  .setting_box-text {
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px; }
  .setting_box-foto {
    display: block;
    margin-top: 20px;
    width: 100%; }
    .setting_box-foto img {
      max-width: 100%; }
  .setting_box {
    padding: 0 20px;
    margin-bottom: 30px; } }

.history {
  background: #000;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden; }
  .history:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 710px;
    height: 100%;
    z-index: 0;
    background: url(../img/history-right.png) center no-repeat; }
  .history:before {
    content: '';
    display: block;
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 860px;
    height: 305px;
    z-index: 0;
    background: url(../img/krause.png) center no-repeat; }
  .history .wrapper-history {
    max-width: 1210px;
    margin: auto;
    display: block; }
  .history__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 590px; }
    .history__container-left {
      width: 50%;
      display: flex;
      align-items: flex-end;
      position: relative; }
      .history__container-left img {
        z-index: 10;
        position: relative; }
      .history__container-left:after {
        content: '';
        display: block;
        position: absolute;
        width: 820px;
        height: 590px;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
        background: url(../img/light.png) center no-repeat; }
    .history__container-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      z-index: 10;
      height: 100%;
      padding-left: 20px;
      position: relative; }
      .history__container-right:after {
        content: '';
        display: block;
        position: absolute;
        width: 700px;
        height: 160px;
        left: 0;
        bottom: 110px;
        z-index: 2;
        background: url(../img/dark-light.png) center no-repeat; }
      .history__container-right h3 {
        font-size: 42px;
        line-height: 44px;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: 45px;
        margin-top: 80px; }
        .history__container-right h3 span {
          color: #f0bd7f; }
      .history__container-right p {
        font-size: 16px;
        line-height: 25px;
        font-weight: lighter;
        margin-bottom: 30px; }
      .history__container-right a {
        display: block;
        text-transform: uppercase;
        color: #f0bd7f;
        text-decoration: underline;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        font-weight: 500; }

.footer {
  background: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 120px;
  color: #fff;
  flex-direction: column; }
  .footer p {
    color: #848484;
    font-size: 12px;
    line-height: 19px; }

.social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }
  .social ul li a {
    font-size: 18px;
    padding: 7px;
    display: block;
    cursor: pointer;
    transition: all 0.2s linear; }
    .social ul li a:hover {
      transform: scale(1.1);
      color: #f0bd7f; }

@media only screen and (max-width: 350px) {
  .footer p {
    font-size: 10px; }
  .footer {
    height: 100px; } }

body, html {
  overflow-x: hidden; }

*, *:after, *:before {
  box-sizing: border-box; }

input:active, input:focus {
  outline: none; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

p, ul, h1, h2, h3, h4, h4, h5, h6, a, button {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  color: #000; }

button:active, button:focus {
  outline: none; }

body {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: relative; }

.wrapper {
  max-width: 1150px;
  display: block;
  margin: 0 auto; }

.button {
  background: #fcc786;
  display: block;
  width: 136px;
  height: 36px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  line-height: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px solid #fcc786; }
  .button:hover {
    background: #000;
    color: #fcc786;
    cursor: pointer; }

.slick-prev,
.slick-next {
  bottom: -87px;
  width: 45px;
  z-index: 100; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 1; }

.slick-prev.slick-disabled:before {
  background: url(../img/left.png) center no-repeat; }

.slick-next.slick-disabled:before {
  background: url(../img/right-1.png) center no-repeat; }

.slick-prev:before {
  border: none;
  background: url(../img/left-1.png) center no-repeat;
  width: 45px;
  transform: none;
  height: 15px; }

.slick-next:before {
  border: none;
  background: url(../img/right.png) center no-repeat;
  width: 45px;
  transform: none;
  height: 15px; }

.slick-dots {
  position: absolute;
  bottom: -76px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  background: #e8e8e8;
  width: 15px;
  height: 3px;
  margin: 0 12px;
  padding: 0;
  background: #e8e8e8;
  cursor: pointer; }

.slick-dots li button {
  width: 15px;
  height: 4px;
  padding: 5px; }

.slick-dots .slick-active {
  background: #d6b161; }
