*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.mobi-but {
    display: block;
    width: 155px;
    position: fixed;
    bottom: 10px;
    height: 45px;
    text-align: center;
    background: #ffd600;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 9999
}
.mobi-but:focus {
    background: #ffd600;
}
.mobi-but i {
    margin-right: 10px;
}
.recall {
    right: 5px;
}
.recall span {
    font-weight: bold;
    color: #3131f7
}
.recall:hover:after {
    z-index: -1
}
.recall:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    background: linear-gradient(135deg, transparent 40px, rgba(255, 255, 255, 0.4) 60px, transparent 65px) no-repeat;
    background-position: -100px 0px;
    transform-origin: center;
    border-radius: 30px;
    animation-name: but;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier( .2, .2, .3, .4); 
    animation-iteration-count: infinite;
}
.recall:focus {
    outline: none;
}
@keyframes but {
    from {background-position: -100px 0px;}
    to {background-position: 500px 0px;}
}
.rewrite {
    left: 5px;
    padding: 10px;
}
.fancybox-placeholder img {
/*
    width: 120%;
    height: 120%;
*/
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2a2a2a;
    overflow-x: hidden;
}
body, html {
    overflow-x: hidden;
}
a{
	color:#000;
}
a:hover{
	text-decoration: none;
}
a:active{
	background: transparent;
}
.container {
    max-width: 960px;
}
.menu {
    padding: 0px 0px;
    background: #2a2a2a;
}
.main-nav {
    float: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.main-nav li {
    color: #fff;
    margin: 0;
    width: auto;
    position: relative;
    list-style: none;
}
.main-nav li a{
    color: #fff; 
    font-size: 18px;
    padding: 18px 0px;
    transition: all linear .1s;
    display: inline-block;
    position: relative;
    text-align: center;
}
.main-nav li>a:hover {
    color: #ccc;
}
.main-nav li>a:focus {
    color: #fff
}
.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2a2a2a;
    padding: 10px 0;
    margin: 0;
    display: none;
    width: 240px;
    z-index: 999;
}
.dropdown:after {
    position: absolute;
    content: '';
    background: url(../img/icon/arr.png) center no-repeat;
    right: -30px;
    top: 0;
    width: 16px;
    height: 10px;
    top: calc(50% - 5px)
}
.dropdown:hover ul {
    display: block
}
.main-nav .dropdown a {
    padding: 10px 0;
    font-size: 16px;
    text-align: left;
}
.dropdown li {
    text-align: left;
    padding-left: 25px;
    list-style: none;
}
header {
    background: url(../img/head-bg2.jpg) center/cover no-repeat; 
    position: relative;
}
.head-dop {
    background: url(../img/head-bg1.jpg) center/cover no-repeat; 
}
.head-dop-top {
    background-color: #fff;
}
.deco {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: calc(50% - 960px);
}
.deco-bot {
    bottom: -50%;
}
.top-head>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0;
}
.head-dop-top .top-head>div {
    padding: 20px 0;
}
.logo {
    position: relative;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
    color: #2a2a2a;
    font-weight: 500;
    text-transform: uppercase
}
h1>a {
    font-size: 14px;
}
.tell {
    position: relative;
    z-index: 9;
}
.tell:after {
    position: absolute;
    content: '';
    width: 370px;
    height: 94px;
    background: url(../img/icon/border.png) center no-repeat;
    top: 23px;
    left: -25px;
    z-index: -1;
}
.tell a {
    display: block;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    color: #2a2a2a;
}
.head-dop-top .tell a {
    font-size: 25px;
}
.head-dop-top .tell:after {
    width: 280px;
    height: 65px;
    background: url(../img/icon/border.png) center/100% 100% no-repeat;
    top: 15px;
    left: -26px;
}
.tell p {
    text-align: center;
    color: #e85722;
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.head-dop-top .tell p {
    font-size: 20px;
    margin: 0;
} 
.but {
    font-size: 22px;
    width: 390px;
    height: 55px;
    border-radius: 6px;
    border: none;
    background: #ea3f00;
    color: #fff;
}
.but:hover {
    background: #ff4b08;
}
.head-content {
    padding: 120px 15px 440px;
    position: relative;
    text-align: right;
}
.head-dop .head-content {
    text-align: left;
    color: #fff;
    padding: 150px 15px 440px;
}
.head-content h2 {
    font-size: 46px;
    margin: 0 0 40px;
}
.head-content p {
    position: relative;
    font-size: 32px;
    margin: 0 0 5px;
}
.head-content p img {
    position: relative;
    top: -7px;
    left: -5px;
}
.head-content .but {
    margin-top: 50px;
}
.katalog {
    position: relative;
    z-index: 2;
    padding: 0px 0 0px;
    background: #f5f4f4;
}
.katalog .deco {
    bottom: -13%;
    z-index: -1;
}
.headline {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.katalog-bl {
    margin-bottom: 0px;
}

.katalog-bl>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.katalog-bl h4 {
    font-size: 26px;
    margin-bottom: 30px;
}
.katalog-headline-foto {
    display: block;
    width: 100%;
    padding: 5px;
    height: 120px;
}
.katalog-it-price {
    text-align: center;
    padding: 7px;
    text-decoration: none;
    margin-top: 10px;
}
.katalog-bl .but {
    text-align: center;
    margin: 10px auto;
    display: block;
}
.katalog-it-link {
    text-decoration: none;
    margin-top: 0;
}
.katalog-headline-foto img{
    display: block;
    margin: 0 auto;
    height: 120px;
}
.katalog-bl h4 span {
    color: #ea3f00;
    font-weight: bold;
    font-size: 32px;
}
.katalog-it {
    width: 300px;
    height: 330px;
    background: #fff;
    padding: 15px 25px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}
.katalog-headline {
    margin: 0 0 20px;
    background: #3e424c;
    color: #fff;
    width: 310px;
    margin-left: -35px;
    padding: 9px 0;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    line-height: normal;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.katalog-headline span {
    font-size: 16px;
    display: block;
}
.katalog-headline:before {
    width: 0;
    height: 0;
    border-bottom: 12px solid #575c68;
    border-left: 10px solid transparent;
    position: absolute;
    left: 0px;
    top: -12px;
    content: '';
}
.katalog-it>div {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.katalog-it>div img+a {
    font-size: 18px;
    margin: 0;
    color: #000;
    margin-left: 20px;
}
.katalog-it>div:nth-of-type(1) {
    margin-bottom: 23px;
}
.katalog-it>div:nth-of-type(1) p {
    text-decoration: underline;
    padding-left: 20px
}
.katalog-it .but {
    width: 115px;
    height: 33px;
    font-size: 15px;
}
.katalog-it a {
    display: block;
    color: #3e424c;
    font-size: 16px;
}

.form-bl {
    padding: 120px 0 200px;
    background: url(../img/form-bg-1.jpg) 50% -100px no-repeat;
    z-index: 1;
    position: relative;
}
.form-cont {
    display: flex;
    justify-content: flex-end;
    z-index: 9;
    position: relative;
}
.form-main {
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    padding: 50px 0;
}
.form h4 {
    text-align: center;
    font-size: 26px;
    margin: 0 0 20px
}
.form h4+p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 400;
}
.input {
    display: block;
    width: 100%;
    font-size: 17px;
    color: #000;
    height: 55px;
    padding-left: 25px;
    border-radius: 7px;
    border: 1px solid #c6c6c6;
    background: #fff;
}
.input:focus {
    outline: none;
}
.input-field {
    position: relative;
    width: 360px;
    margin: 0 auto 20px;
}
.input-field span {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: calc(50% - 13px);
    right: 22px;
}
[type="tel"]+span {
    background: url(../img/icon/tel.png) no-repeat center;
}
[name="comment"]+span {
    background: url(../img/icon/coment.png) no-repeat center;
}
.form .but {
    width: 360px;
    height: 55px;
    border-radius: 7px;
    margin: 5px auto 0;
    display: block;
}
.label-control {
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    color: #000;
}
.label-control input[type="checkbox"] {
    width: 1px  !important;
    height: 1px !important;
    position: relative;
    top: 1px;
    left: 7px;
    z-index: -1;
    opacity: 0;
}
.label-control .chekc-text {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: -7px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
}
.label-control .checked-style {
    width: 25px;
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    padding: 0px;
    margin-top: 0px;
    cursor: pointer;
    background: none;
    border-radius: 50%;
    border: 2px solid #fff;
}
.label-control input[type=checkbox]:checked ~ .checked-style {
    background: #ff6f00;
    box-shadow: inset 0px 0px 0px 4px #282b30
}


.garant {
    background: url(../img/garant-bg.png) center/cover;
    position: relative;
    z-index: 1;
   
}
.garant .headline {
    text-align: left;
    font-size: 34px;
}
.garant-it {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.garant-it p {
    margin: 0 0 0px 40px;
    font-size: 22px;
}

.preym {
     padding: 50px 20px;
    background: url(../img/preym-bg.jpg) center/cover no-repeat;
}
.preym .headline {
    color: #fff;
}
.preym-bl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.preym-l, .preym-r {
    width: 350px;
    color: #fff;
}
.pryme-center {
    border-radius: 50%;
    margin: 0 70px;
    width: 250px;
    min-width: 250px;
    height: 250px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.pryme-center img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate3d(-50%,-50%,0);
}
.preym-it {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.preym-it:after {
    background: #e85722;
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    right: -95px;
}
.preym-it:before {
    background: #e85722;
    position: absolute;
    content: '';
    height: 1px;
    width: 53px;
    right: -83px;
}
.preym-it:nth-of-type(2):after {
    right: -70px;
}
.preym-it:nth-of-type(2):before {
    right: -60px;
    width: 50px;
}
.preym-it p {
    line-height: 20px;
    font-size: 15px;
    margin: 0
}
.preym-l p {
    text-align: right;
    margin-right: 10px;
}
.preym-r p {
    margin-left: 10px
}

.preym-r .preym-it:after {
    left: -95px;
}
.preym-r .preym-it:before {
    left: -83px;
}
.preym-r .preym-it:nth-of-type(2):after {
    left: -70px;
}
.preym-r .preym-it:nth-of-type(2):before {
    left: -60px;
    width: 50px;
}


.work {
    position: relative;
    padding: 10px 0 20px;
    z-index: 4;
    background: #f3f2f2
}
.work .deco-top {
    top: -32%;
    z-index: -1
}
.work .deco-bot {
    bottom: -18%;
    z-index: -1
}
.work-cont {
    background: linear-gradient(to right, #fff 50%, transparent 50%);
    margin-bottom: 20px;
}
.work-cont:nth-of-type(2n) {
    background: linear-gradient(to right, transparent 50%, #fff 50%);
}
.work-it {
    display: flex;
    align-items: center;
}
.work-cont:nth-of-type(2n) .work-it {
    flex-direction: row-reverse
}
.work-it p {
    width: 400px;
    font-size: 16px;
    margin: 0 0px 0 0px;
}
.work-cont:nth-of-type(2n) .work-it p {
    margin: 0 -40px 0 10px;
}
.icon-item {
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
}
.icon__block {
    display: block;
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background: #ff5617;
    position: relative;
}
.icon-logo {
    margin-right: 15px;
    font-size: 30px;
    color: #ff5617;
    opacity: 0.8;
}
.how-it h4 {
    position: relative;
}
.mini-icon {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #ff5617;
    opacity: 0.8;
}
.right-icon {
    left: -45px;
}
.scep-item-1 {
    left: 52%;
}
.scep-item {
    left: 55%;
}
.work-it p span {
    font-weight: bold;
    font-size: 20px;
}
.work-it>span {
    color: #e85722;
    font-weight: 600;
    font-size: 40px;
    margin-left: 30px;
}
.work-cont:nth-of-type(2n) .work-it>span {
    margin-right: 30px;
}


.about {
    padding: 50px 20px;
    background: url(../img/about-bg.jpg) center/cover no-repeat;
}
.about { 
    color: #fff;
}
.about p {
    line-height: 26px;
    margin-bottom: 25px;
}



.how {
    position: relative;
    padding: 50px 20px;
    z-index: 4;
    background: #f3f2f2
}
.how .deco-top {
    top: -31%;
    z-index: -1
}
.how .deco-bot {
    bottom: -16%;
    z-index: -1
}
.how-bl {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.how-bl>div {
    width: 46%;
}
.how-it {
    margin-bottom: 40px;
    border-bottom: 1px solid #666
}
.how-it h4 {
    font-size: 22px;
    position: relative;
}

.how-it p {
    font-size: 16px;
    line-height: 26px;
}

.sert {
    padding: 50px 20px;
    color: #fff;
    background: url(../img/sert-bg.jpg) center/cover no-repeat
}
.sert-bl {
    display: flex;
    justify-content: space-between;
}
.sert-it {
    width: 225px;
    height: 295px;
    text-align: center;
    background: rgba(34, 36, 41, 0.85);
    padding: 25px 10px 0;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.sert-it:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 40px solid rgb(49, 52, 60);
    border-left: 40px solid transparent;
    right: 0;
    bottom: 0;
}
.sert-it img {
    margin-bottom: 15px;
}



#slider{
	position: relative;
    padding: 50px 0 100px;
    z-index: 4;
    background: #f3f2f2
}
#slider .deco-top {
    top: -58%;
    z-index: -1
}
#slider .deco-bot {
    bottom: -30%;
    z-index: -1
}
#slider .headline {
    margin-bottom: 70px;
}
#slider .item img {
    height: 400px;
    width: 100%;
}
#slider a{
	top:45%;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    opacity: 1;
    width: 5%;
}
.carousel-control.right {
    transform: rotateY(180deg)
}
#slider iframe {
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ccc;
    height: 400px;
}



.otzyv {
    padding: 50px 20px;
    background: url(../img/otzyv-bg.jpg) center/cover no-repeat;
    color: #fff;
    position: relative;
    z-index: 3
}
.otzyv .deco {
    bottom: -18%;
    z-index: -1;
}
.otzyv-bl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.otzyv-bl:nth-child(2n+1) {
    flex-direction: row-reverse
}
.otzyv-slide {
    width: 345px;
}
.otzyv-slide .slider-for {
    margin-bottom: 20px;
    height: 195px;
}
.otzyv-slide .slider-for img {
    height: 195px !important;
    border-radius: 7px;
    width: 100% !important
}

.slider-nav img {
    width: 100% !important;
    height: 70px;
    border-radius: 3px;
    cursor: pointer
}
.slider-nav .slick-slide {
    padding: 3px;
}
.otzyv-text {
    margin-left: 60px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.otzyv-bl:nth-child(2n+1) .otzyv-text {
    margin-right: 50px;
    margin-left: 0;
}
.otzyv-text span {
    font-size: 22px;
}


.pays {
    background: #fff;
    position: relative;
    padding: 50px 0 50px;
}
.pays-bl {
    display: flex;
    justify-content: space-between;
}
.pays-it {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: center;
    margin-bottom: 30px;
}
.pays-it>div {
    height: 110px;
    display: flex;
    align-items: center;
}
.pays-it p {
    padding: 0 15px;
    margin: 0px 0 0;
    color: #3d404a;
    font-size: 18px;
    font-weight: 500;
}

.contact {
    background: #f3f2f2;
    text-align: center;
    padding-top: 20px;
}
.contact>div {
    position: relative;
}
.contact-bl {
    width: 320px;
    padding: 20px 0;
}
.contact .headline {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0 0 30px;
    padding-left: 50px;
    display: inline-block
}
.contact-icon {
    font-size: 20px;
    opacity: 0.9;
    color: #e85722;
    margin-right: 15px;
}
.contact-bl h4 {
    font-size: 18px;
    color: #636262;
    margin-bottom: 30px;
    text-align: left
}
.contact-bl p {
    color: #636262;
    margin-bottom: 15px;
    text-align: left
}
.contact-bl p a {
    color: #3a3e47;
    font-size: 18px;
}
.contact-bl p span {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    position: relative;
    padding-left: 30px;
}
.contact-bl p span:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon/contact-1.png) no-repeat;
    left: 0;
    top: 5px;
}
.contact-bl p:nth-of-type(2) span:before {
    background: url(../img/icon/contact-2.png) no-repeat;
}
.contact-bl p:nth-of-type(3) span:before {
    background: url(../img/icon/contact-3.png) no-repeat;
}
.contact-bl p:nth-of-type(4) span:before {
    background: url(../img/icon/contact-4.png) no-repeat;
}
.contact-bl .but {
    height: 50px;
    width: 350px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.contact-bl .but:hover {
    color: #fff;
}
.contact-bl .city-nav {
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    color: #2a2a2a;
/*    border-bottom: 1px dashed;*/
}
#map {
    position: absolute;
    top: 20px;
    height: 93%;
    right: 0%;
    width: 61%;
    border: 2px solid #e85722
}

footer {
    background: #191c23;
    padding: 30px 0 10px;
}
.footer-bl {
    display: flex;
    justify-content: space-between;
}
.footer-bl>div {
    width: 220px;
}
.footer-bl p {
    color: #fff
}
.footer-bl a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
/*modal*/
.modal {
    padding-right: 0px !important;
}
.modal-open {
    padding-right: 0px !important;
}
.modal .modal-dialog{
    width: 430px;
    margin: 70px auto 0;
}
.modal h4 {
    font-size: 25px;
    margin: 20px auto 20px;
    font-weight: bold;
    color: #181818;
}
.modal input {
    width: 250px;
    margin: 10px auto 20px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.modal .but{
    display: block;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto 20px;
}
.modal p {
    font-size: 18px;
}
.modal-dialog .close {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

#city-rayon p {
    padding-top: 40px;
}
#type-modal .modal-dialog{
    width: 400px;
    margin: 70px auto 0;
}
#city-rayon .modal-dialog {
    width: 90%;
    margin: 70px auto 0;
}
#city-modal .modal-dialog {
    width: 300px;
    margin: 70px auto 0;
}
#city-modal ul {
    padding-left: 10px;
    height: 300px;
    overflow-y: scroll;
}
#city-modal li {
    list-style: none;
    margin: 5px 0;
}
#city-modal li a {
    color: #0a00ff;
    font-weight: 500;
}

.content {
    position: relative;
    z-index: 1;
    background: url(../img/contant-bg.png);
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100%;
    background-color: #f3f2f2
}
.breadcrumbs {
    padding: 0;
    margin: 0
}
.breadcrumbs li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.breadcrumbs li a {
    color: rgb(232, 87, 34)
}
.content-bl {
    padding: 50px 0 0;
}
.content-bl p {
    margin-bottom: 30px;
    font-size: 17px;
}
.content-bl p span {
    color: #e85722;
    font-weight: 500;
}
.content-bl .but {
    height: 50px;
    width: 320px;
    font-size: 18px;
}
.content-it {
    display: flex;
    padding-right: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
}
.content-it img {
    margin-left: 30px;
}
.content-it b {
    text-decoration: underline;
}
.content-it:nth-of-type(2n) {
    flex-direction: row-reverse
}
.content-it:nth-of-type(2n) img {
    margin-left: 0;
    margin-right: 40px;
}
.content-bl_mod {
    padding: 20px 0 0px;
}

.content-bl_mod-cont {
    display: flex;
    justify-content: space-between
}
.content-bl_mod-it {
    width: 31%;
    text-align: center;
}
.mod-headl {
    font-size: 20px;
    color: #e85722;
    margin: 0 0 20px;
    border-bottom: 1px solid;
    display: inline-block;
}
.content-bl_mod-it p {
    font-size: 17px;
}
.content-bl_mod-it img {
    width: 100%;
}
.content-bl_mod-it .but {
    width: 100%;
    font-size: 18px;
    height: 50px;
    margin-top: 30px;
}
.content-it-mod {
    padding: 0;
}
.content-it-last {
    margin-bottom: 50px;
}
.content-it-last img {
    float: left;
    margin: 0 20px 20px 0
}
.content-it-last .mod-headl {
    display: block;
    border: none;
    text-decoration: underline;
}
.img-bl {
    margin-bottom: 10px
}
.img-bl p {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 25px;
}
.img-bl img {
    width: 100%;
}
.content-dop-bl {
    padding: 50px 0 55px;
    position: relative;
    overflow: hidden;
}
.content-dop-bl img {
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
}
.content-dop-bl p {
    margin: 0;
}
.content-dop-bl p:first-child {
    font-weight: bold;
    text-decoration: underline;
}
.content-dop-bl b {
    color: #e85722
}
.content-dop-bl .but {
    margin-top: 20px;
    margin-bottom: 0;
}



/********** Contact ***********/
.contact-block {
    text-align: center;
    font-size: 19px;
    padding: 0px 0 30px
}
.contact-block p {
    margin: 10px auto;
}
.contact-block a{
    font-weight: bold;
    font-size: 24px;
    color: rgba(246,0,20,1);
}
.operator {
    padding: 10px 0 0px;
    background: #ffd600;
    border: 5px solid #ff2d2d;
    margin: 20px auto 10px;
}
.operator p {
    margin-bottom: 10px;
}
.post-mail {
    display: block;
    margin: 0px auto 0;
    color: #0013a5;
    font-weight: bold;
}
.consultant img {
    float: left;
    margin-right: 20px;
}
.consultant p {
    margin: 5px auto;
    text-align: left;
    font-size: 16px;
}
.consultant span {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #de0000;
    font-weight: bold;
}
.adress-block {
    background: #ffffff;
    border: 5px solid #ffd600;
/*    box-shadow: 0px 0px 0px 3px #e3e3e3;*/
    padding: 10px 15px 10px;
    text-align: center;
    margin-bottom: 20px;
}
.adress-block h3 {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 35px;
    border: 2px solid #be0000;
    font-size: 20px;
    background: #f2f2f2;
}
.adress-block h4 {
    margin: 10px 0 15px;
    padding: 10px 0 12px;
    border-bottom: 2px dashed #ccc;
}
.adress-block h4 a {
    color: #0031ff;
}
.adress-block h4 a:hover {
    text-decoration: underline;
}
.adress-item {
    margin-top: 20px;
    margin-bottom: 15px;
}
.img-block-adr1, .img-block-adr2, .img-block-adr3{
    text-align: center;
    padding: 0px;
}
.img-block-adr1 img, .img-block-adr2 img, .img-block-adr3 img{
    width: 100%;
    border: 1px solid #d30000;
    box-shadow: 0px 0px 5px 1px #ffd600;
    height: 230px;
    margin-top: 0px;
}
.img-block-adr3{
    
}
.adress-item iframe {
    width: 100%;
    border: 1px solid #d30000;
    box-shadow: 0px 0px 5px 1px #ffd600;
    height: 230px;
}


.text-auto {
    padding: 10px 0 10px;
}
.text-auto1 {
    background: rgba(255, 214, 0, 0.1)
}
.text-auto2 {
    background: rgba(255, 214, 0, 0.3)
}
.text-auto3 {
    background: rgba(255, 214, 0, 0.5)
}
.text-auto .headline {
    background: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}
.text-auto img.float-right, .text-auto img.float-left {
    border: 2px solid #ffd600
}
.text-bl h3 {
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
.text-bl p {
    margin-bottom: 20px;
    line-height: 24px;
}
.tech-p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.step-auto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 10px;
}
.step-auto-it {
    width: 150px;
}
.step-auto-it>div {
    width: 150px;
    height: 90px;
    position: relative;
    background: #ffd600;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px
}
.step-auto-it:not(:last-child)>div:after {
    position: absolute;
    width: 14px;
    height: 20px;
    background: url(../img/icon/avto-arr.png) center no-repeat;
    content: '';
    right: -13px;
    top: calc(50% - 10px)
}
.step-auto-it>div img {
    margin-top: -30px
}
.step-auto-it>div p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.step-auto-it b {
    cursor: pointer;
}
.step-auto-it a {
    font-weight: 500;
}
.step-auto-it>p {
    
}
.contact-section {
    padding-bottom: 20px
}
.contact-section h5{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.contact-section p {
    font-size: 17px;
}
.contact-section p span {
    font-size: 22px;
    display: block;
    padding-top: 20px;
    padding-bottom: 0px;
    border-top: 2px solid #FF921A;
}
.contact-section button {
    width: 100%;
    background: #FF921A;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 8px;
    font-size: 18px;
    font-weight: 600
}
#scroll-to span{
	width:55px;
	height:54px;
	font-size: 45px;
	padding: 0 0 0 10px;
	border:3px solid #ffd600;
	border-radius:100%;
	color: rgba(246, 0, 20, 0.68);
}
#scroll-to{
	cursor: pointer;
	position: fixed;
	bottom:80px;
	right:10px;
	z-index:999;
	display: none;
}
#scroll-to:hover span{
	background: #ffe76b;
	color: rgba(246, 0, 20, 0.98);
}
/* Соц сети ---*/

.share-button{
  width: 280px;
  height: 50px;
  background: #dfe6e9;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
  margin: 20px 0;
}

.share-button:hover{
  transform: scale(1.1);
}

.share-button span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ea3f00;
  color: #f1f1f1;
  text-align: center;
  line-height: 50px;
  z-index: 999;
  transition: .6s linear;
  border-radius: 40px;
}

.share-button:hover span{
  transform: translateX(-100%);
  transition-delay: .3s;
}

.share-button a{
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
}

.share-button:hover a{
  opacity: 1;
  transform: translateX(0);
}

.share-button a:nth-of-type(1){
  transition-delay: 1s;
}

.share-button a:nth-of-type(2){
  transition-delay: 0.8s;
}

.share-button a:nth-of-type(3){
  transition-delay: 0.6s;
}

.share-button a:nth-of-type(4){
  transition-delay: 0.4s;
}
/* Статьи ---*/

.articles {
    
    background: #f9f9f9 url(../img/transportation.png) no-repeat;
}

.bottom_block {
    min-height: 100px;
    position: relative;
    background: url(../img/bg-bottom_line.svg) top no-repeat;
}
.center-p {
    text-align: center;
    font-weight: 600;
}
.articles__container h2{
    font-size: 28px;
    line-height: 1.4;
    margin-top: 40px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.articles__container .title_articles-h2 {
    font-size: 22px;
    width: 100%;
    display: block;
    margin-top: 0;
    padding-top: 30px;
}
.p__last_paragraf {
    margin-bottom: 30px;
}
.articles__container h4{
    font-size: 22px;
    line-height: 1.4;
    margin-top: 40px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.p {
    text-indent: 25px;
    margin-bottom: 15px;
}
.parag-f {
    margin-bottom: 15px;
    text-indent: 0;
}
.flex-ul {
    list-style: disc;
}
.margin_bottom {
    margin-bottom: 40px;
}
.box-foto {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    position: relative;
}
.block-img {
    display: block;
    position: relative;
    border-radius: 8px;
    max-width: 350px;
    margin: 40px auto 20px auto;
    transition: all 0.6s linear;
}
.block-img:hover {
    transform: translate3d(-20px, -20px, 0);
}
.block-img:hover:before {
    transform: translate3d(40px, 40px, 0);
}
.block-img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: -20px;
    top: -20px;
    height: 100%;
    background: #dff0fa;
    border-radius: 8px;
    transition: all 0.6s linear;
}
.block-foto {
    display: block;
    position: relative;
    border-radius: 8px;
    max-width: 500px;
    margin: 35px auto;
}
.block-mini {
    float: right;
    margin: 10px;
    max-width: 230px;
    position: relative;
    display: block;
    border-radius: 8px;
    transition: all 0.6s linear;
}
.block-mini:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 10px;
    top: 10px;
    background: #dff0fa;
    border-radius: 8px;
    transition: all 0.6s linear;
}
.block-mini:hover:before {
    left: 10px;
    right: 10px;
    bottom: -10px;
    top: -10px;
}
.block-foto:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dff0fa;
    border-radius: 8px;
    transform: rotate(6deg);
    transition: all 0.6s linear;
}
.block-foto:hover:before {
    transform: rotate(-6deg);
}
.flex-ul-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    list-style: disc;
}
.bold {
    font-weight: bold;
}
.foto-thems {
    display: block;
    max-width: 1000px;
    margin: auto;
}
.flex-ul-bottom {
    list-style: disc;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}
.flex-ul-bottom li {
    margin-bottom: 5px;
}
.top {
    margin-top: 10px;
}














