@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?knpu4x');
  src:  url('../fonts/icomoon.eot?knpu4x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?knpu4x') format('truetype'),
    url('../fonts/icomoon.woff?knpu4x') format('woff'),
    url('../fonts/icomoon.svg?knpu4x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-code:before {
  content: "\f121";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-mobile:before {
  content: "\e958";
}
