.slick-prev:before,
.slick-next:before {
    right: 50px;
    content: "";
}

.slick-next,
.slick-next:active,
.slick-next:focus {
    background: url(../right1.png) no-repeat center;
    background-size: contain;
    right: 30px;
}

.slick-prev,
.slick-prev:active,
.slick-prev:focus {
    background: url(../left1.png) no-repeat center;
    background-size: contain;
    left: 30px;
}

.slick-dots {
    bottom: -30px;
}

.slick-prev,
.slick-next {
    top: auto;
    bottom: -38px;
    width: 17px;
    height: 17px;
    z-index: 100;
}
.slider3 .slick-prev, .slider3
.slick-next {
    bottom: -53px;
}
.slider3 .slick-dots {
    bottom: -45px;
}
.slider4 .slick-prev, .slider4
.slick-next {
    bottom: -8px;
}
.slider4 .slick-dots {
    bottom: -00px;
}
.simptoms .section-title2 {
    margin-top: 50px;
    text-align: center;
}

.slick-dots li {
    background-color: #5B6D89;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.slick-dots .slick-active {
    background-color: #fff;
    border-radius: 100%;
}

@media only screen and (max-width: 767px) {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .expert {
        padding-top: 50px;
    }
    .complex__item {
        text-align: center;
    }
    .slider2 {
        margin-top: 30px;
    }
    .complex__item img {
        box-shadow: none;
        margin: auto;
    }
    .left {
        position: relative;
        left: -5px;
    }
    .forma__item {
        text-align: center;
    }
    .corona-wrapper {
        display: none;
    }
    body {
        padding-top: 0!important;
    }
    .main {
        padding-top: 25px;
    }
    .main__title span {
        font-size: 18px;
    }
    .main__title {
        margin-bottom: 80px;
    }
    .simptoms .section-title {
        text-align: center;
    }
}