// main : style.scss

$color-main: #fff;
$color-secondary: #f0bd7f;

.setting {
    padding-top: 75px;
    &-title {
        font-size: 38px;
        font-weight: 500;
        color: #000;
        position: relative;
        letter-spacing: 1.3px;
        padding-bottom: 5px;
        display: block;
        padding-left: 15px;
        width: 1150px;
        border-bottom: 2px solid #fcc786;
        margin-bottom: 55px;
        & span {
            color: #fcc786;
        }  
    }
    &_box {
        display: block;
        max-width: 655px;
        padding-left: 15px;
        margin-bottom: 70px;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background: url(../img/two.png) center no-repeat;
            right: -520px;
            top: -15px;
            width: 430px;
            height: 510px;
        }
        &-wrap {
            display: flex;
        }
        &-title {
            font-size: 24px;
            color: #f0bd7f;
            line-height: 28px;
            font-weight: bold;
            min-width: 80px;
        }
        &-foto {
            display: block;
            margin-top: 35px;
        }
        &-text {
            color: #000;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            padding-left: 25px;
            max-width: 495px;
            display: block;
        }
        &-img {
            position: absolute;
            right: -50px;
        }
        & .step-3 {
            top: 150px;
        }
        & .step-4 {
            top: 130px;
        }
        & .step-5 {
            top: 150px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .setting_box:after {
        transform: scale(0.7);
        right: -460px;
    }
    .setting-title {
        width: 90%;
        padding-left: 0;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 1050px) {
    .setting_box:after {
        transform: scale(0.6);
        right: -400px;
    }
}
@media only screen and (max-width: 991px) {
    .setting_box:after {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .setting_box-img {
        display: none;
    }
}
@media only screen and (max-width: 650px) {
    .setting-title {
        font-size: 18px;
        line-height: 34px;
        font-weight: bold;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    .setting {
        padding-top: 25px;
    }
    .setting_box-wrap {
        flex-direction: column;
    }
    .setting_box-title {
        font-size: 16px;
        line-height: 28px;
        font-weight: bold;
    }
    .setting_box-text {
        padding-left: 0;
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
    }
    .setting_box-foto {
        display: block;
        margin-top: 20px;
        width: 100%;
        & img {
            max-width: 100%;
        }
    }
    .setting_box {
        padding: 0 20px;
        margin-bottom: 30px;
    }
}



















