body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.56;
    text-align: left;
    border: none;
    font-size: 18px;
    padding: 0;
}
body, html {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
footer {
    width: 100%;
    min-height: 248px;
}
a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}
.content_footer {
    padding-left: 20px;
}
.nav_footer {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav_footer li a {
    transition: all 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;
}
.nav_footer li {
    font-size: 11px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}
.nav_footer li a:hover {
    color: #DA2429;
}
.footer {
    display: flex;
    padding: 24px 20px;
}
.wrapper_footer {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
}
.age16 {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #333;
    font-size: .875em;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.metrika {
    display: flex;
    align-items: center;
}
.social_footer {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
}
.social_footer img {
    width: 25px;
    margin-left: 10px;
}
.social_footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text {
    width: 100%;
    max-width: 930px;
    font-size: .625em;
    line-height: 14px;
    color: #fff;
    opacity: .7;
    margin-bottom: 10px;
}
.metrika {
    margin: auto;
    width: 100%;
}
.metrika img {
    width: 88px;
    margin-left: 10px;
    cursor: pointer;
}
.logo_footer img {
    width: 95px;
}

@media only screen and (max-width : 991px) {
    .wrapper_footer {
        padding: 0;
    }
    .nav_footer {
        flex-wrap: wrap;
    }
    
}
@media only screen and (max-width : 500px) {
    .footer {
        padding: 22px 10px;
    }
    .content_footer {
        padding-left: 10px;
    }
    .logo_footer img {
        width: 70px;
    }
    .metrika {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .age16 {
        margin-right: 10px;
    }
    .metrika img {
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 10px;
    }
}