// main: ./sass/style.scss
$color-main: #4b4b4b;
$color-secondary: #2580b7;
$bold: "GothamProBold";

.modalForm {
    z-index: 150;
    display: none;
    &__container {
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 10000;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    &__dialog {
        margin: 10vh auto;
        width: 370px;
        box-sizing: border-box;
        display: block;
        position: relative;
        border-radius: 6px;
        border: 4px solid $color-secondary;
        background: #fff;
        &-title {
            font-size: 24px;
            font-family: $bold;
            text-align: center;
            line-height: 34px;
            padding-top: 40px;
        }
        &-subtitle {
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            max-width: 230px;
            margin: auto;
            padding-bottom: 50px;
        }
    }
}
.filter_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(6,15,49,0.9);
    z-index: 10000;
    display: none;
}
.closes {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 12px;
    transition: all .2s linear;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
        transform: translateY(3px);
    }
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 12px;
    transition: all .2s linear;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
        transform: translateY(3px);
    }
}
.form {
    display: flex;
    align-items: center;
    color: $color-main;
    &-input {
        display: block;
        height: 60px;
        width: 270px;
        text-align: center;
        padding: 20px 25px;
        color: $color-main;
        box-sizing: border-box;
        border-radius: 30px;
        font-size: 12px;
        line-height: 72px;
        border: 1px solid $color-main;
        font-family: $bold;
        color: #000;
        margin-right: 30px;
        &:focus, &:active {
            outline: none;
        }
        &-callback {
            display: block;
            margin: 10px auto;
        }
    } 
    &_callback {
        padding-bottom: 55px;
    }
}
.thanks {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 10000;
    display: none;
}
#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(6,15,49,0.9);
    z-index: 10000;
    display: none;

}
.showModal {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.containerModal {
    margin: 50px auto;
    width: calc(100% - 40px);
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
.sity-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
.containerModal .close {
    position: absolute;
    right: 15px;
    top: 25px;
    font-size: 20px;
    color: #b9b8b8;
    transition: all .2s linear;  
}
.close  {
    width: 30px;
    height: 30px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 100%;
    position: relative;
}
.close img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%, 0);
}
.close:hover {
    transform: translateY(3px);
}

.modalContent{
    display: none
}

.conf {
    padding: 40px 50px 60px;
    &__container {
        overflow-y: auto;
        max-width: none;
        background: #fdfcf4;
        width: calc(100% - 40px);
        margin-top: 50px;
    }
    &__text {
        font-size: 18px;
         margin-bottom: 50px;
        & span {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.5;
        }
    }
}
@media only screen and (max-width: 991px) {
    .form-input {
        height: 50px;
        width: 240px;
    }
}
@media only screen and (max-width: 400px) {
    .modalForm__dialog {
        width: 300px;
    }  
}
@media only screen and (max-width: 769px) {
    .conf {
        padding: 30px 40px 50px;
    }
    .conf__text {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .conf__text span {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
    }
}


















