// main: ./sass/style.scss

$color-main: #4b4b4b;
$color-secondary: #2580b7;
$transishion-main: all 0.2s linear; 
$bold: "GothamProBold";

.production {
    display: block;
    position: relative;
    padding: 120px 0;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -600px;
        right: -10px;
        bottom: 0px;
        background: url(../images/content_bg.png) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -620px;
        right: 0px;
        bottom: -620px;
        background: url(../images/content_bg-mini.png) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &-subtitle {
        margin-top: 25px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        & span {
            font-family: $bold;
        }
    }
}
.slider__container {
    margin-top: 80px;
}
.slider__block {
    display: flex;
    justify-content: space-between;
    &-box {
        display: block;
        width: 25%;
        position: relative;
        &-foto {
            display: block;
            width: 270px;
            height: 300px;
            border-radius: 5px;
            margin: auto;
            box-shadow: 0px 7px 27px 0px rgba(5, 129, 220, 0.19);
        }
        & img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        &-time {
            font-family: $bold;
            font-size: 24px;
            color: $color-secondary;
            text-align: center;
            margin: 35px 0;
        }
    }
}
.seticon-2-foto {
    position: absolute;
    top: -20px;
}
.slider__container .title2 {
    margin-top: 170px;
    margin-bottom: 40px;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 117%;
    width: 45px;
    height: 45px;
    display: block;
    padding: 0;
    border-radius: 100%;
    transition: all 0.2s lineear;
    background: linear-gradient(to top, #095996, #048aec);
    &:hover {
        background: linear-gradient(to top, #003155, #005592);
    }
}
.slick-prev {
    position: absolute;
    z-index: 5000;
    left: 45%;
    &:before {
        background: url(../images/left-ar.png) center no-repeat;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        transform: rotate(0deg);
        border: none;
    }
}
.slick-next {
    position: absolute;
    right: 45%;
    &:before {
        background: url(../images/left-ar.png) center no-repeat;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        border: none;
        transform: rotate(180deg);
    }
}
.slick-next:hover:before {
    transform: rotate(180deg);
    border: none;
}
.section-2 {
    display: block;
    margin-bottom: 110px;
    &__container {
        height: 380px;
        width: 270px;
        &-box {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 270px;
            height: 340px;
            background: #fff;
            position: relative;
            margin: 40px auto;
            & img {
                position: absolute;
                top: -30px;
                max-width: 290px;
            }
            &-text {
                font-family: $bold;
                font-size: 24px;
                color: $color-secondary;
                text-align: center;
                margin-bottom: 30px;
            }   
        }
    }
}

.section-3 {
    display: block;
    &__container {
        height: 480px;
        width: 370px;
        &-box {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 370px;
            height: 450px;
            background: #fff;
            position: relative;
            margin: 40px auto;
            & img {
                position: absolute;
                top: -30px;
            }
            &-text {
                margin-bottom: 50px;
                & p{
                    font-family: $bold;
                    font-size: 24px;
                    color: $color-secondary;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }   
        }
    }
}
@media only screen and (max-width: 1300px) {
    .production {
        padding: 50px 0;
    }
    .production-subtitle {
        padding: 0 20px;
    }
}
@media only screen and (max-width: 991px) {
    .slick-prev {
        left: 43%;
    }
    .slick-next {
        right: 43%;
    }
}
@media only screen and (max-width: 620px) {
    .slick-prev {
        left: 40%;
    }
    .slick-next {
        right: 40%;
    }
    .slick-prev, .slick-next {
        top: 110%;  
    }
    .slider__container {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .slick-prev {
        left: 37%;
    }
    .slick-next {
        right: 37%;
    }
    .slider__container .title2 {
        margin-top: 120px;
    }
    .section-3__container-box {
        width: 280px;
        height: 350px;
        margin: 20px auto;
    }
    .section-3__container-box img {
        max-width: 310px;
    }
    .section-3__container-box-text {
        margin-bottom: 20px;
    }
    .section-3__container-box-text p {
        margin-bottom: 20px;
    }
    .section-3__container {
        height: 380px;
    }
}
@media only screen and (max-width: 360px) {
    .slick-prev {
        left: 35%;
    }
    .slick-next {
        right: 35%;
    }
}











