@import 'reset';
@import 'fonts';
@import 'header';
@import 'about';
@import 'production';
@import 'video';
@import 'services';
@import 'certificate';
@import 'reviews';
@import 'footer';
@import 'modalWindows';

$color-main: #4b4b4b;
$color-secondary: #2580b7;
$bold: "GothamProBold";

html, body {
    font-family: "GothamProRegular";
    font-weight: normal;
    font-size: 16px;
    color: $color-main;
    overflow-x: hidden;
}
body {
    background: url(../images/header_bg.png) top center no-repeat;
    background-size: auto;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.main-title {
    color: $color-main;
    max-width: 700px;
    display: block;
    margin: auto;
    font-size: 30px;
    font-family: $bold;
    text-align: center;
    line-height: 40px;
}
.services-title {
    max-width: 1000px;
    padding: 0 20px;
}
.title3 {
    max-width: none;
    margin-top: 60px;
    margin-bottom: 35px;
}

.button {
    background: $color-secondary;
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    width: 270px;
    box-sizing: border-box;
    height: 50px;
    line-height: 1;
    display: block;
    transition: all 0.2s linear;
    &:active, &:focus {
        outline: none;
    }
    &-header:hover {
        background: #054870;
    }
    &-cunsult {
        width: 370px;
        height: 65px;
        background: linear-gradient(to top, #ffc906, #ff8304);
        border-radius: 30px;
        background-image: -moz-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.31);
        border: none;
        text-transform: uppercase;
        font-family: $bold;
        margin-bottom: 20px;
        &:hover {
           background-image: -moz-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -webkit-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -ms-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
        }
    } 
    &-price {
        background-image: -moz-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.31);
        border: none;
        font-family: $bold;
        height: 65px;
        border: none;
        text-transform: uppercase;
        margin: auto;
        &:hover {
           background-image: -moz-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -webkit-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -ms-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
        }
    }
    &-certificate {
        background-image: -moz-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(252,125,4) 0%, rgb(255,151,5) 50%, rgb(255,165,5) 51%, rgb(255,199,6) 100%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.31);
        border: none;
        font-family: $bold;
        height: 65px;
        border: none;
        text-transform: uppercase;
        &:hover {
          background-image: -moz-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -webkit-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
           background-image: -ms-linear-gradient( 90deg, rgb(185,104,0) 0%, rgb(222,125,0) 50%, rgb(235,133,0) 51%, rgb(255,165,0) 100%);
        }
    }
    &-popap {
        height: 60px;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        background-size: auto;
    }  
}
@media only screen and (max-width: 1100px) {
    body {
        background: url(../images/header_bg-mini.png) top center no-repeat;
    }
}
@media only screen and (max-width: 991px) {
    .main-title {
        font-size: 22px;
        line-height: 36px;
        padding: 0 20px;
    }
    .button-cunsult {
        margin: 10px auto;
    }
    .button-price {
        width: 240px;
        height: 50px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 768px) {
    .button-certificate {
        margin: auto;
    }
}
@media only screen and (max-width: 500px) {
    .main-title {
        font-size: 22px;
        line-height: 30px;
        padding: 0 15px;
    }
    .button-cunsult {
        width: 270px;
        height: 50px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 400px) {
    .button-cunsult {
        width: 280px;
    }   
}












