.content {
    margin-right: 0;
}
.photo {
    height: 70px;
    width: 70px;
}
a.button {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: hsl(88, 70%, 30%);
  text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,.2) 0 .18em .15em;
  text-decoration: none;
  user-select: none;
  margin: .5em;
  padding: .5em .6em .4em .6em;
  border-radius: 8px;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  outline: none;
  background: #a2cf70 radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.5));
  box-shadow:
   inset rgba(255,255,255,.6) 0 .3em .3em,
   inset rgba(0,0,0,.2) 0 -.1em .3em,
   rgb(128,161,103) 0 7px 1px,
   rgba(0,0,0,.2) 0 .5em 5px;
  transition: background .2s ease-in-out;
    display: block;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 50px;
}
a.button:hover {
  background-color: hsl(88, 70%, 75%);
}
a.button:active {
  top: .2em;
  color: rgba(254,255,255,.9);
  text-shadow: rgba(0,0,0,.2) 0 1px 2px;
  box-shadow:
   inset rgba(255,255,255,.6) 0 .3em .3em,
   inset rgba(0,0,0,.2) 0 -.1em .3em,
   rgba(0,0,0,.4) 0 .1em 1px,
   rgba(0,0,0,.3) 0 .2em 6px;
}
.old-title {
    margin-left: 40px;
    left: 40px;
}
.old-title-2 {
    padding-top: 40px;
}
.content {
    padding-right: 0;
}
.content-main {
   padding-top: 0;
}
a.button:after {
  content:  "";
  position:  absolute; 
  width:   90%;
  height:  60%;
  top:   0;
  left:   5%;    
  border-radius:    .5em .5em 1em 1em / .5em .5em 2em 2em;
  background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.3)); 
}
.button:active:after {
  opacity: .6;
}

div.foto-first ul, div.indax ul {
    position: absolute;
    top: 20%;
    list-style: outside none none;
    margin-left: 4%;
}
div.foto-first h1, div.centr-news a h2 {
    position: absolute;
    top: 38%;
    text-align: center;
    font-size: 2.8em;
    color: #FFF;
    text-align: left;
    margin-left: 3%;
    max-width: 760px;
    font-weight: bold;
}
.top-title {
    margin-top: 50px;
    display: block;
}

.container {
  max-height: 80px;
}

ul.submenu-soc {
  background-color: #212121;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  overflow: hidden;
}
ul.submenu-soc li {
  display: inline-block;
}
.mini-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 30px;
}
#comments {
    margin-top: 10px!important;
}

ul.submenu-soc li a i.fa {
  padding: 10px;
  display: inline-block;
  border: 1px solid transparent;
  color: #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
ul.submenu-soc li a i.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -500%;
  bottom: -500%;
  left: -500%;
  right: -500%;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
ul.submenu-soc li a:hover i.fa::before {
  color: #fff;
}
ul.submenu-soc li a:hover i.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu-soc li a:hover i.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #1dcaff;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu-soc li a:hover i.fa-google-plus::after {
  height: 200%;
  width: 200%;
  background-color: #d34836;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu-soc li a:hover i.fa-instagram::after {
  height: 200%;
  width: 200%;
  background-color: #8a3ab9;
  border-radius: 0px;
  opacity: 1;
}
.content ul li {
    margin: 0px 0;
}