.body {
    background: #FAFAFA;
    padding: 30px 40px;
    font-size: 15px;
    color: #000;
}

.selected {
    background: silver;
}

.circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #C10106;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    cursor: pointer;
}

.active-circle {
    background: #139502;
}

.main-container {
    padding: 20px 40px;
    background: #FAFAFA;
}

.main-table {
    background: #fff;
}

.button-group {
    background: #fff;
    margin-top: 10px;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.selected-group {
    align-items: center;
    margin: 0 10px;
}

.input-box {
    position: relative;
}

.input-top {
    border: 2px solid #E1E1E1;
    position: relative;
    background: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    padding-right: 35px;
}

.input-first {
    min-width: 300px;
    width: auto;
}

.input-second {
    min-width: 200px;
}

.list-icon {
    position: absolute;
    right: 25px;
    font-size: 14px;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
}

input,
input:active,
input:focus {
    outline: none;
    color: #000;
}

.col-first {
    width: 10px;
    max-width: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-opaciti {
    opacity: 0.5;
}

.btn-flow {
    background: #7EB077;
    border: none;
    color: #fff;
    padding: 2px 10px;
    margin-left: 10px;
    line-height: 40px;
    display: block;
    min-width: 125px;
    transition: all 0.2s linear;
}

.btn-flow:hover {
    background: #679960;
}

.btn-main {
    background: #E4EAEE;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s linear;
}

.btn-main:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.btn-burger {
    border-radius: 8px 0px 0px 8px;
    margin-left: 10px;
}

.btn-share {
    border-radius: 0px 8px 8px 0px;
}

.btn-check {
    border-radius: 0;
}

.button-right {
    justify-content: flex-end;
    margin-right: 10px;
}

.selected-title {
    margin-right: 10px;
    margin-bottom: 0;
}

.select {
    border: 1px solid #E5E5E5;
    padding: 4px 8px;
    min-width: 300px;
}

.icon-lp {
    font-weight: bold;
}

.select:active,
.select:focus {
    border: 1px solid #E5E5E5;
    outline: none;
}

.btn-main:active,
.btn-main:focus {
    outline: none !imporant;
    border: none !imporant;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.icon {
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.row-table {
    padding: 5px 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    cursor: pointer;
}

/*
.row-table:hover {
    background-color: #F3FBF6;
}
*/
.row-table.active {
    background-color: #F3FBF6;
}
.col-main {
    min-width: calc(100% - 270px);
    position: relative;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;
}

.settings {
    display: flex;
    align-items: center;
}

.col-lend,
.col-order,
.col-code,
.settings,
.lendings__container,
.moderation {
    display: none;
}

.first-screen .col-lend,
.first-screen .col-order {
    display: block;
}

.third-screen .col-code {
    display: block;
    width: auto;
    flex-basis: auto;
    color: #5dad78;
    font-weight: 500;
}

.col-code span {
    color: #848484;
}

.third-screen .col-main {
    min-width: auto;
    width: auto;
    font-weight: 500;
    color: #4888ba;
    display: block;
}

.second-screen .lendings__container {
    display: block;
    width: 100%;
}

.second-screen .moderation {
    display: flex;
    align-items: center;
}

.second-screen .settings {
    display: flex;
}

.moderation span {
    margin-right: 4px;
}

.second-screen .lendings__box .settings {
    margin-bottom: 0px;
}

.second-screen .col-main {
    min-width: 130px;
    width: auto;
    display: block;
    align-items: center;
    color: #4888ba;
    margin: 5px 0;
}

.row-table {
    display: flex;
    justify-content: flex-start;
}

.second-screen .row-table {
    border-top: 2px solid #000;
    padding: 3px 10px;
}

.second-screen .row-table:first-of-type {
    border-top: none;
}

.lendings__box {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-top: 1px solid #D1D1D1;
}

.settings-title {
    margin: 0 10px;
}

.settings-title h3 {
    font-size: 16px;
    margin-bottom: 0;
}
.load {
    width: 100%;
    display: block;
    height: 300px;
    background: url(../img/load.gif) center no-repeat;
    background-size: cover;
}
.settings-title p {
    font-size: 14px;
    color: #4888ba;
}

/*
.second-screen .row-table:hover {
    color: #000;
    background-color: #fff;
}
*/

.second-screen .lendings__box:hover {
    background-color: #F3FBF6
}
.second-screen .lendings__box.active-box {
    background-color: #F3FBF6
}

.btn-addlend {
    display: block;
    background: #F3F3F3;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    margin: 0 15px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-addlend:hover {
    background: #D1D1D1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.btn-setting {
    display: block;
    background: #E0E0E0;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-setting:hover {
    background: #F3F3F3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.btn-hide-lp {
    margin: 0;
    margin-left: 10px;
    padding: 0 10px;
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    min-width: 30px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.percent {
    /*     color: #7EB077; */
    font-weight: 500;
    display: block;
    width: 40px;
    text-align: right;
    margin-right: 10px;
}

.switch input:checked + .slider {
    background-color: #7EB077
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #7EB077
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.date-select {
    padding: 0 10px;
    margin-left: 10px;
    outline: none;
}

.date-select:active,
.date-select:focus {
    outline: none;
}

.statistics__container {
    display: none;
    background: #FAFAFA;
    padding: 5px 10px;
    padding-right: 0;
    justify-content: space-between;
}

.col-statistics {
    display: none;
    margin-left: auto;
}

.first-screen.statistick-on .statistics__container,
.first-screen.statistick-on .col-statistics {
    display: flex;
}

.first-screen.statistick-on .col-main {
    color: #4888ba;
}

.first-screen.statistick-on .row-table {
    padding: 0;
}

.first-screen.statistick-on .col-lend,
.first-screen.statistick-on .col-order {
    display: none;
}

.first-screen.statistick-on .col-main {
    min-width: auto;
    display: block;
    padding: 5px 10px;
    padding-left: 30px;
}

.statistics-title {
    font-size: 20px;
}

.metrika {
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.metrika-col {
    width: 90px;
    cursor: pointer;
    border-right: 1px solid #FAFAFA;
}

.metrika-title {
    background: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

.metrika-subtitle {
    background: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    margin: 1px;
    font-weight: bold;
    color: #4888ba;
}

.input-third {
    min-width: 135px;
}

.active-metrika .metrika-title {
    border-top: 6px solid #679960;
}

.statistics__box {
    display: block;
    width: 90px;
    color: #4888ba;
    text-align: center;
    border-right: 3px solid #FAFAFA;
}

.statistics__box p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 0;
    color: #4888ba;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
}

.overlay.open {
    opacity: 1;
    z-index: 100;
}

.close-modal {
    cursor: pointer;
}

.overlay .modal {
    background: #FAFAFA;
    text-align: center;
    opacity: 0;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
    width: 800px;
    height: auto;
    left: 50%;
    display: block;
    top: 50%;
    z-index: 10000;
    transform: translate3d(-50%, -50%, 0);
}

.selected__container {
    display: flex;
    padding: 10px 0px;
    min-height: 700px;
}

.selected__container .select {
    background: none;
    border: none;
    width: 50%;
}

.selected__box {
    display: block;
    min-width: 0;
}

.overlay .modal.open {
    opacity: 1;
    display: block;
    z-index: 100;
}

.overlay .modal.open .content {
    transform: translate(0, 0px);
    opacity: 1;
}

.pyat {
    width: 60px;
    border: 2px solid #E1E1E1;
    outline: none;
    padding: 3px;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

.overlay .modal .content {
    opacity: 0;
    transition: 0.35s ease-in-out;
}

.overlay .modal .title {
    margin-top: 0;
}

.mainline__name {
    display: flex;
    align-items: center;
}

.block__flags {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    background: #fff;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
}

.mainline__type {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.block__type {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    background: #fff;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    height: 40px;
    min-width: auto;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.flag {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0px 5px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}

.mainline__position {
    margin-top: 10px;
}

.typed {
    display: block;
    margin: 3px 5px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}

.flag:hover {
    transform: scale(1.05);
}

.flag-active,
.typed-active {
    position: relative;
}

.flag-active:after {

    content: '';
    display: block;
    width: 33px;
    background: #7EB077;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -3px;
}

.typed-active:after {

    content: '';
    display: block;
    width: 65px;
    background: #7EB077;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -3px;
}

.flag img {
    display: block;
    width: 25px;
    height: 25px;
}

.mainline__lengings-lends {
    width: 100%;
    padding: 0px;
}

.modal .lendings__box {
    background: #fff;
    padding: 4px 10px;
}


#pyat::-webkit-inner-spin-button {
    opacity: 1;
}

.content__topline {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid #E1E1E1;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.content__topline-title {
    width: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.btn-close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #BCBCBC;
    font-size: 22px;
    transition: all 0.2s linear;
}

.content__bottomline {
    display: flex;
    margin-top: 15px;
}

.btn-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s linear;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.btn-bottom:hover {
    text-decoration: none;
}

.btn-censel:hover {
    color: #000;
    background: #c9c7c7
}

.btn-send:hover {
    color: #fff;
    background: #64a05b;
}

.btn-censel {
    background: #F3F3F3;
}

.btn-send {
    background: #7EB077;
    color: #fff;
}

.mainline {
    padding: 5px 15px;
}

.mainline__settings-title {
    font-size: 17px;
    text-align: left;
    padding-bottom: 10px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #444444;
    width: fit-content;
}

.mainline__settings-title:after {
    content: '';
    display: block;
    width: 120px;
    background: #7EB077;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 0;
}

.mainline-title {
    font-size: 17px;
    text-align: left;
    position: relative;
    margin: 10px 0;
    margin-left: 20px;
    width: 130px;
    min-width: 130px;
}

.mainline__offers,
.mainline__lengings {
    display: flex;
}

.mainline__lengings {
    margin-bottom: 5px;
    margin-top: 5px;
}

.mainline__offers .lendings__box:first-of-type {
    border-top: none;
}

.mainline__lengings .lendings__box:first-of-type {
    border-top: none;
}

.top__box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.top__box-summ {
    color: #D36B6C;
    margin-right: 10px;
}

.btn-equalize {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: #4888ba;
}

.modal .btn-setting {
    margin-left: 10px;
}

.modal .lendings__box-name {
    color: #4888ba;
    position: relative;
    width: 100%;
    text-align: left;
}

.modal .percent {
    color: #000;
}

.btn-delet {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #BCBCBC;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-delet:hover {
    color: #4888ba;
    transform: scale(1.05), translateY(-50%);
}

.detail-statistics {
    display: none;
    margin-left: auto;
}

.second-screen.statistick-on .detail-statistics {
    display: flex;
}

.second-screen.statistick-on .statistics__container {
    display: flex;
}

.second-screen.statistick-on .col-statistics {
    display: flex;
}

.second-screen.statistick-on .row-table {
    padding: 0px;
    border-top: 2px solid #000;
}

.second-screen.statistick-on .col-main {
    padding: 5px 0;
    align-items: center;
    margin: 0;
    padding-left: 30px;
}

.second-screen.statistick-on .moderation {
    display: flex;
    align-items: center;
}

.second-screen.statistick-on .settings {
    display: flex;
    margin: 5px 0;
}

.lendings__container {
    font-size: 14px;
}

.statistics__box {
    border-right: 1px solid #D1D1D1;
}

.statistics__box:last-of-type {
    border-right: none;
}

.lendings__box {
    padding: 6px 0px;
}

.col-main {
    color: #4888ba;
}

.summ-cuntry {
    font-size: 11px;
    color: #D36B6C;
    display: none;
}

.second-screen .summ-cuntry {
    display: block;
}

.country {
    position: relative;
    margin-bottom: 0;
}

.second-screen .summ-cuntry-offer {
    display: flex;
    width: 130px;
    height: 40px;
    padding-left: 10px;
    align-items: flex-end;
}

.second-screen.statistick-on .lendings__box {
    padding-left: 10px;
}

.select {
    position: relative;
    display: block;
    min-width: 200px;
    width: 100%;
    max-width: 220px;
    margin-bottom: 20px;
}
.selected-group .select {
    margin-bottom: 0px;
}

.select__head {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    background: #F2F1EF;
    font-weight: 500;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
    border: 2px solid #D9D7D8;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: url("../img/down.png") no-repeat center / cover;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 5px;
    max-height: 400px;
    max-width: 184px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: auto;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: #F3FBF6;
}

.content-lendind {
    height: 800px;
}

#current_menu {
    display: none;
}

.container__menu {
    position: relative;
}

#current_menu li a img {
    width: 20px;
    height: 20px;
}

.current_page img {
    width: 20px;
}

.flags-ul {
    position: absolute;
    padding: 0;
    top: 10px;
    background: #E4EAEE;
    padding: 8px 11px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.btn-flag:hover {
    transform: none;
}

.flags-item {
    padding: 0;
    list-style: none;
    margin: 6px 0;
}

.flags-item:hover {
    transition: all 0.2s linear;
    transform: scale(1.1);
}

.content__topline-title {
    font-size: 20px;
}

.main-popap-lend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metrika__box-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.metrika__box {
    padding: 0 10px;
}

.main-popap .metrika-col {
    width: 110px;
    border-right: 2px solid #FAFAFA;
    margin-left: auto;
}

.main-popap-metrika {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    margin: 0;
    padding-left: 20px;
}

.metrika-botom {
    border-top: 2px solid #FAFAFA;
}

.metrika-col-box {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.lendind__metrika {
    display: flex;
    align-items: center;
    margin-left: 0;
}
.lendind__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: #fff;
    border-top: 2px solid #FAFAFA;
    cursor: pointer;
}
.lendind__metrika-col {
    width: 110px;
    border-right: 2px solid #FAFAFA;
    margin-left: auto;
    padding: 6px 5px;
    text-align: center;
}
.green {
    color: green;
}
.red {
    color: red;
}
.lendind__box:hover {
    background: #F1F6F2;   
}
.lendind__box-active {
    background: #F1F6F2;    
}
.target {
    max-width: 25px;
    margin-right: 10px;
}
.lendind__box-title {
    display: flex;
    align-items: center;
}
.certificate-box {
    position: relative;
    color: green;
    margin-right: 10px;
}
.certificate {
    font-size: 28px;
}
.certificate-title {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    font-size: 10px;
    color: #fff;
}

.btn-share {
    position: relative;
}
.sm-container{
  text-align: center;
}

.sm-container i:hover{
  transform: scale(1.2);
}

.sm-menu {
    background: #487eb0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
    border-radius: 8px;
    display: none;
    padding: 4px 8px;
    color: #000;
    background: #E4EAEE;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s linear;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.sm-menu::before{
  content: "";
  width: 10px;
  height: 10px;
  background: #487eb0;
  position: absolute;
  top: -5px;
  left: 50%;
    text-decoration: none;
    color: #000;
  transform: translateX(-50%) rotate(45deg);
    transition: all 0.2s linear;
}
.sm-menu:hover {
    background: #d3e1ea;
}
.sm-menu-link {
    line-height: 1.3;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s linear;
}

.hide-offer {
    display: none;
}
.hide-lendind {
    display: none;
}

.overlay .modal-lendind {
    background: #FAFAFA;
    text-align: center;
    opacity: 0;
    transition: 0.35s ease-in-out;
    overflow-y: auto;
    width: 1200px;
    height: auto;
    left: 50%;
    display: block;
    top: 50%;
    padding-bottom: 5px;
    z-index: 10000;
    transform: translate3d(-50%, -50%, 0);
}
.modal-lendind .content-lendind {
    height: auto;
    padding-bottom: 20px;
}

.overlay .modal-offer {
    background: #FAFAFA;
    text-align: center;
    opacity: 0;
    transition: 0.35s ease-in-out;
    overflow-y: auto;
    width: 400px;
    height: auto;
    left: 50%;
    display: block;
    top: 50%;
    z-index: 10000;
    transform: translate3d(-50%, -50%, 0);
}
.date-select-modal {
    margin-right: 10px;
    background: #DFDFDF;
}

.modal-offer .content__topline-title {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.modal-offer .content__topline {
    border-bottom: 2px solid #E1E1E1;
    margin-bottom: 0;
}
.top__box-summ {
    margin-bottom: 0;
}
.modal-lendind .content-second {
    display: none;
}
.modal-offer .content-first {
    display: none;
}
.lendind__metrika-title {
    margin-bottom: 0;
}
.lendind__box-title {
   margin-bottom: 0px; 
}
.typed p {
    margin-bottom: 0;
}
.select__head-off {
    pointer-events: none; 
    opacity: 0.5;
}
.settings p {
    margin-bottom: 0;
}
.icon {
    margin-bottom: 0;
}
.lendings__box p {
    margin-bottom: 0;
}
.percent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    margin-bottom: 0;
}
.percent-input {
    border: none;
    max-width: 28px;
    text-align: right;
    font-weight: 500;
}
.percent-input::-webkit-outer-spin-button,
.percent-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.back {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #BCBCBC;
    font-size: 22px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.back:hover {
    color: #000;
    transform: translateY(-50%), scale(1.05);
}
.next {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #BCBCBC;
    font-size: 22px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.next:hover {
    color: #000;
    transform: translateY(-50%), scale(1.05);
}
.modal-lendind .content__topline-title {
    width: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding-left: 50px;
    font-size: 18px;
}
