.title {
    color: black;
    font-size: 37px;
}

@media only screen and (max-width: 991px) {
    .col-md-3 {
        display: none;
    }
    .col-md-9 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 30px;
    }
}
@media only screen and (max-width: 620px) {
    .title {
        font-size: 25px;
    }
}
@media only screen and (max-width: 520px) {
    .title {
        font-size: 22px;
    }
    p {
        margin: 0px 0px 1.5px;
    }
}
@media only screen and (max-width: 420px) {
    .title {
        font-size: 19px;
    }
    .comment_date {
        margin-left: 10px;
        margin-top: 5px;
    }
    .breadcrumb {
        width: calc(100% - 10px);
        margin: auto;
        display: block;
    }
}
@media only screen and (max-width: 374px) {
    .title {
        font-size: 17px;
        margin: 0 5px;
    }
}
@media only screen and (max-width: 340px) {
    .title {
        font-size: 15px;
    }
}