/* --- Общие стили для шапки --- */
.site-header {
    color: white;
    padding: 10px 0;
    background: #593333;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.logo__img {
    display: block;
    width: 30px;
    margin-right: 15px
}

.logo:hover {
    transform: scale(0.95);
}

.nav-desktop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-desktop li {
    margin-left: 25px;
}

.nav-desktop a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.nav-desktop a:hover {
    border-color: #3498db;
}

.burger-menu-icon {
    display: none;
    cursor: pointer;
}



@media (max-width: 768px) {

    /* Скрываем десктопную навигацию */
    .nav-desktop {
        display: none;
    }
}

.site-header {
    height: 60px;
}

.burger-menu-icon {
    display: block;
}

.burger-menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}


.nav-mobile {
    background-color: #593333;
    /* Фон чуть светлее шапки */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.nav-mobile ul li:first-of-type {
    border-top: 1px solid #fff;
}

.nav-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.nav-mobile li {
    text-align: center;
    border-bottom: 1px solid #fff;
    /* Разделитель */
}

.nav-mobile a {
    display: block;
    /* Ссылка на всю ширину */
    padding: 18px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-mobile a:hover {
    background-color: #3e5770;
}

.nav-mobile.active {
    display: block;
    max-height: 350px;
    transition: max-height 0.4s ease-in;
}

/* Анимация иконки бургера в "крестик" */
.burger-menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu-icon.active span:nth-child(2) {
    opacity: 0;
    /* Средняя полоска исчезает */
}

.burger-menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
