#slogan {
    background-color: #f9f9f9;
    padding: 40px 0;
    overflow: hidden;
}

.slogan__inner {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.slogan__text {
    font-size: 23px;
    font-style: italic;
    line-height: 1.7;
    color: #444;
    text-align: center;
    position: relative;
    z-index: 2;
    text-decoration: underline;
}

.slogan__varning {
    font-size: 26px;
    text-align: left;
    font-style: italic;
    line-height: 1.7;
}

.slogan__content {
    font-size: 23px;
    font-style: italic;
    line-height: 1.7;
    z-index: 2;
    color: #444;
    text-align: left;
    position: relative;
}

.slogan__title {
    font-size: 38px;
    font-style: italic;
    line-height: 1.7;
    color: #444;
    text-align: center;
    position: relative;
    z-index: 2;
}


.slogan__inner::before,
.slogan__inner::after {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 150px;
    color: #e9e9e9;
    position: absolute;
    z-index: 1;
}


.slogan__inner::before {
    content: "«";
    left: -20px;
    top: -40px;
}

.slogan__inner::after {
    content: "»";
    right: -20px;
    bottom: -60px;
}






.slogan__rounded {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.slogan__rounded li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.slogan__rounded li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #593333;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: #fff;
    transition: all .3s ease-out;
    box-sizing: content-box;
}
















@media (max-width: 768px) {

    #slogan {
        padding: 30px 0;
        padding-bottom: 0;
    }

    .slogan__title {
        font-size: 26px;

    }

    .slogan__text {
        font-size: 22px;
        line-height: 1.6;
        text-align: left;
    }

    .slogan__inner::before,
    .slogan__inner::after {
        font-size: 90px;
    }
    .slogan__content {
        font-size: 20px;
    }
    .slogan__inner::before {
        left: 0;
        top: -25px;
    }

    .slogan__inner::after {
        right: 0;
        bottom: -40px;
    }

    .slogan__inner {
        width: 90%;
        margin: 0 auto;
    }
    .slogan__rounded {
        padding-left: 10px;
    }
}
