h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.show {
    visibility: visible !important;
}

video {
    visibility: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.animation_logo {
    position: relative;
    height: 100%;
}


/* Базові стилі */
body {
    font-family: Arial, sans-serif;

    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
        margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

/* Плавна прокрутка */
html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #004a99;
    /* Головний колір акценту */
}



/* --- Секції --- */
section {
    padding: 60px 0;
}

/* Забираємо відступ у першої секції ПІСЛЯ hero */
main section:first-of-type {
    padding-top: 60px;
}


@media (max-width: 768px) {

    .container {
        width: 100%;
    }
}