
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {} [type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0px;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted buttontext;
}
* {
    padding: 0px;
    margin: 0px;
}
p {
    padding: 5px 0px;
    line-height: 118%;
}
#modal_close {
    width: 30px;
    height: 30px;
    font-size: 35px;
    font-family: tahoma;
    position: absolute;
    top: 10px;
    right: 13px;
    cursor: pointer;
    display: block;
}
#modal_form {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    background: #fff;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none; 
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    text-align: center;
}



#modal_form p {
    font-size: 20px;

}

#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.6; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%; 
    height:95%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}




.pink {
    color: rgb(239, 22, 80);
}
.pink2 {
    color: rgb(237, 28, 77);
}
.blue {
    color: rgb(8, 63, 154);
}
.dblue {
    color: rgb(12, 40, 58);
}
.gray {
    color: rgb(98, 98, 98);
}
.dgray {
    color: rgb(23, 27, 38);
}
.white {
    color: rgb(255, 255, 255);
}
a,
a[href^="tel"] {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
.center {
    text-align: center;
}
.alleft {
    text-align: left;
}
.alright {
    text-align: right;
}
.alleft {
    text-align: left
}
.upp {
    text-transform: uppercase;
}
.flleft {
    float: left;
}
.flright {
    float: right;
}
.lh100 {
    line-height: 100%;
}
.lh120 {
    line-height: 120%;
}
.lh140 {
    line-height: 140%;
}
.inline-b {
    display: inline-block;
}
.v-mid {
    vertical-align: middle;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.px35 {
    font-size: 35px;
}
.px28 {
    font-size: 28px;
}
.px10 {
    font-size: 10px;
}
.px12 {
    font-size: 12px;
}
.px15 {
    font-size: 18px;
}
.px16 {
    font-size: 16px;
}
.px17 {
    font-size: 17px;
}
.px18 {
    font-size: 18px;
}
.px20 {
    font-size: 20px;
}
.px25 {
    font-size: 25px;
}
.px26 {
    font-size: 26px;
}
.px28 {
    font-size: 28px;
}
.px30 {
    font-size: 30px;
}
.px32 {
    font-size: 32px;
}
.px40 {
    font-size: 40px;
}
.px50 {
    font-size: 35px;
}
.px60 {
    font-size: 60px;
}
.px68 {
    font-size: 68px;
}
.price_land_s2 {
    padding-bottom: 20px;
}
input,
select,
textarea {
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 10px auto !important;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    outline: medium none;
    text-indent: 80px;
    color: rgb(37, 37, 37);
    font-size: 30px;
    box-sizing: content-box;
    transition: all 0.3s ease 0s;
    -webkit-appearance: none;
}
input.name-black {
    font-size: 20px;
    background: rgb(255, 255, 255) url('name_b.png') no-repeat scroll 30px 50%;
    
}
input.phone-black {
    font-size: 20px;
    background: rgb(255, 255, 255) url('phone_b.png') no-repeat scroll 28px 50%;

}
:-moz-placeholder {
    font-size: 30px;
    color: rgb(78, 77, 81);
}
*::-moz-placeholder {
    font-size: 30px;
    color: rgb(78, 77, 81);
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-moz-placeholder {
    color: transparent;
}
.form-container {
    max-width: 600px;
    margin: 0px auto 0 auto;
    border: 3px solid #dbc17d;
    border-radius: 6px;
    display: block;
    margin-bottom: 0;
    position: relative;
}
.form-container-text {
    display: block;
    background: #fdf5e0;
    padding: 10px 15px;
    margin-bottom: 0;

}
.action-valid {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.action-numb{
    color: #da1f1f;
    text-align: center;
    display: block;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
.form-suptitle {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.form-suptitle span {
    color: #da1f1f;
}
.action-before {
    display: block;
    margin: 2px;
    font-size: 23px;
    text-align: center;
    color: #000;
}

.btm-form {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #e43b65 0, #ef4a73 50%, #e43b65 100%);
    border: none;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 27px;
    font-weight: 900;
    box-shadow: 0 5px 0 0 #c73056;
    line-height: .9;
    position: relative;
    margin: 0 30px;
    padding: 0;
    text-indent: 0;
    cursor: pointer;
    transition: all 0.2s linear;
}
.btm-form:hover {
    background: linear-gradient(to bottom, #e43b65 100%, #ef4a73 50%, #e43b65 0%);
}
.left-pack {
    display: inline-block;
    background: #da1f1f;
    border-radius: 6px;
    padding: 9px 7px;
}
.lp-text {
    color: #000;
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}
.no-risk {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin: 5px 20px;
}
.price-bottom {
    text-align: center;
    margin-top: 0px;
}
@media only screen and (max-width : 600px) {
    .action-valid {
        font-size: 20px;
    }
    .action-numb {
        font-size: 22px;
    }
    .form-suptitle {
        font-size: 16px;
    }
    .form-container-text {
        padding: 5px 10px;
    }
    .form-container {
        max-width: 100%;
    }
    .action-before {
        font-size: 18px;
    }
    .btm-form {
        font-size: 20px;
        margin: 0 20px;
    }
    .lp-text {
        font-size: 16px;
    }
    .no-risk {
        font-size: 14px;
        margin: 5px 10px;
    }
    .spin__container {
        padding: 0!important;
    }
    .zhanna_86_o5IKudBv {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    html, body {
        width: 100%;
        padding: 0px 0px!important;
    }
}
input.phone-black {
    margin-bottom: 105px!important;
}